<footer id="main-footer">

    <div class="container text-center">

        <span class="brand"></span>

    </div>

</footer>

<!-- ==============================================
SCRIPTS
=============================================== -->


<script src="/assets/js/main.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>

<script>

    var mapPoint = {
        'lat': 53.3382,
        'lng': 9.3334,
        'zoom' : 15,
        'infoText':'<p>Mühlenweg 37\
								<br/>22229 Buxtehude</p>',
        'linkText':'View on Google Maps',
        'mapAddress':'Mühlenweg 37, 22529 Buxtehude',
        'icon': '/assets/images/marker.png'
    };

</script>
</body>

</html>