{{#if whiteboard}}

  <header id="home" class="intro whiteboard parallax-bg" {{#if headerBackground}}
          style="background-image: url({{headerBackground}})" data-parallax-background="{{headerBackground}}"
          data-stellar-background-ratio=".5"{{/if}}>
    {{{contents}}}

    {{#if scrollButton}}
      <a class="scroll-button scrollto" href="#start"><i class="fa fa-angle-down"></i></a>
    {{/if}}
  </header>
{{else}}
  <header id="home">
  </header>
{{/if}}

<div id="start"></div>