<div id="main-nav" class="navbar">
    <div id="cookie-note" class="header-alert" style="display:none;">
        {{ this.cookieDisclaimer }}
        <a href="#" class="privacy-link" ><i class="fa fa-angle-right"></i> {{cookieReadMore}}</a>
        <a href="#" id="cookie-close" class="close">{{cookieClose}}</a>
    </div>
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>

            <!-- ======= LOGO ========-->
            <a class="navbar-brand scrollto" href="#home"></a>

      {{#if (is-multilanguage)}}
        <ul class="nav navbar-nav navbar-lang">
          {{#each (language-chooser) as |l|}}
            <li><a href="{{l.url}}">{{l.locale}}</a></li>
          {{/each}}
        </ul>
      {{/if}}

        </div>

        <div id="site-nav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="sr-only">
                    <a href="#home" class="scrollto">Home</a>
                </li>
                {{#each this}}
                    {{#if this.navTitle  }}
                        <li>
                            <a href="#{{ this.id }}" class="scrollto">{{#if this.navTitle}}{{ this.navTitle }}{{else}}{{ this.title }}{{/if}}</a>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div><!--End navbar-collapse -->

    </div><!--End container -->

</div>