<section {{#if id}}id="{{id}}"{{/if}} class="{{sectionClass}} {{#if parallaxBackground}}parallax-bg{{/if}} {{#if gmap}}gmap-bg{{/if}} {{#if fullscreen}}fullscreen{{/if}}" {{#if parallaxBackground}} data-parallax-background="{{ parallaxBackground }}" data-stellar-background-ratio="{{#if parallaxRatio }}{{ parallaxRatio }}{{else}}.7{{/if}}"{{/if}}>

    {{#if gmap}}
        <div id='gmap'></div>
        <div id="toggle-map" class="toggle-button"><span class="show-map-text">{{ show-map-text }}</span><span class="hide-map-text">{{ hide-map-text }}</span></div>
    {{/if}}

    {{#if imprint}}
        <div id="toggle-imprint" class="toggle-button"><span id="show-imprint-text">{{ show-imprint-text }}</span><span id="hide-imprint-text">{{ hide-imprint-text }}</span></div>
    {{/if}}

    {{#if datenschutz}}
        <div id="toggle-datenschutz" class="toggle-button"><span id="show-datenschutz-text">{{ show-privacy-text }}</span><span id="hide-datenschutz-text">{{ hide-privacy-text }}</span></div>
    {{/if}}

    {{#if fullscreen}}
        {{#if title}}<h1 class="section-title {{ headingClass }}">{{title}}</h1>{{/if}}
        {{{contents}}}
    {{else}}
        <div class="container">

            {{#if title}}<h1 class="section-title {{ headingClass }}">{{title}}</h1>{{/if}}
            {{{contents}}}

        </div>
    {{/if}}

</section>
