
/*V2 (Blog)*/

/*----------------------
----- Blog Styles ------
------------------------*/
.post-entry{
  margin-bottom: 40px;
}

.post-header{
  margin-bottom: 20px;
}

.post-footer{
  margin:30px 0;
  padding-top:30px;
  border-top:1px solid #ddd;
}

.post-title{
  margin:0 0 5px;
  font-size:24px;
}

.post-meta{
  padding:0;
  margin-bottom:20px;
}

.post-title a,
.post-meta a{
  color: inherit;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

.post-title a:hover,
.post-meta a:hover{
  color: @brand-primary;
  text-decoration: none;
}

.post-meta li{
  display:inline;
  list-style: none;
  color:#999;
}

.post-meta li:after{
  content:'|';
  margin:0 5px;
}

.post-meta li:last-child:after{
  content:'';
}

.post-meta .fa{
  margin-right: 5px;
}

.post-thumb{
  position:relative;
  display: block;
  margin-bottom: 20px;
  overflow:hidden;
}

.post-thumb:before{
  position:absolute;
  display: block;
  content: '';
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: #000;
  opacity:0;
  z-index: 1;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.post-thumb:hover:before{
  opacity:.8;
}

.post-thumb:after{
  position:absolute;
  display: block;
  margin:-25px 0 0 -25px;
  content: '\f08e';
  font-family: fontAwesome;
  font-size:32px;
  line-height: 50px;
  text-align: center;
  color:#fff;
  top:50%;
  left:50%;
  width:50px;
  height:50px;
  z-index: 2;
  opacity:0;
  -webkit-transform: translate(-80px, 80px);
  transform: translate(-80px, 80px);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-out;
}

.post-thumb:hover:after{
  opacity: 1;
  -webkit-transform:  translate(0, 0);
  transform:  translate(0, 0);
}

.post-link:after{
  margin-left:15px;
  content:'\f105';
  font-size: 18px;
  line-height: 14px;
  font-family: fontAwesome;
  -webkit-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

.post-link{
  -webkit-transition: padding .2s ease-out;
  transition: padding .2s ease-out;
}

.post-link:hover{
  padding-left:10px;
  text-decoration: none;
}

.post-link:hover:after{
  margin-left:25px;
}

#blog-list .post-entry{
  padding: 40px 0 40px;
  border-bottom: 1px solid #ddd;
}

#blog-list .post-entry:first-child{
  padding-top: 0;
}

#blog-list .post-title,
#single-post .post-title{
  font-size: 32px;
}

.pagination li{
  display: inline-block;
  margin-right:1px;
}

.pagination li a{
  padding: 5px 12px;
  background:transparent;
  border:1px solid #aaa;
  border-radius: 0 !important;
  min-width:32px;
  color:#666;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.pagination li.active a,
.pagination li.active a:hover,
.pagination li a:hover{
  background:@brand-primary;
  border:1px solid @brand-primary;
  color:#fff;
}

.video-container{
  margin-bottom: 20px;
}

.post-slider.flexslider{
  margin-bottom: 20px;
  overflow:hidden;
  border-radius: 0;
}

.post-slider .flex-direction-nav .flex-prev,
.post-slider .flex-direction-nav .flex-next{
  background:#000;
  background:rgba(0,0,0,0.3);
  background-image:none;
  display:inline;
  text-indent:0;
  position:absolute;
  top:50%;
  width:44px;
  height:44px;
  padding:0;
  padding-left:12px;
  margin:0;
  margin-top:-22px;
  font-size:42px;
  line-height:38px;
  color:#fff;
  border-radius:2px;
  opacity: .5;
  -webkit-transition:all .2s ease-out;
  transition:all .2s ease-out;
}

.post-slider .flex-direction-nav .flex-prev{
  left: 5px;
}

.post-slider .flex-direction-nav .flex-next{
  text-align:right;
  padding-right:12px;
  right: 5px;
}

.post-slider .flex-direction-nav a:hover,
.post-slider .flex-direction-nav a:active,
.post-slider .flex-direction-nav a:focus{
  text-decoration:none;
}

.post-slider .flex-direction-nav a:hover {
  background:rgba(0,0,0,0.5);
}

.post-slider:hover .flex-next {opacity: 1; right: 15px;}
.post-slider:hover .flex-prev {opacity: 1; left: 15px;}


/*sidebar + widgets*/
#main-sidebar{
  padding-left: 50px;
}

#main-sidebar.left-sidebar{
  padding-left: 15px;
  padding-right: 50px;
}

.widget{
  margin-bottom: 40px;
}

.widget-title{
  position: relative;
  padding-top:15px;
  margin-bottom:45px;
}

.widget-title:after{
  display:block;
  content:"";
  width:60px;
  height:1px;
  position:absolute;
  left:0;
  bottom:-15px;
  background:@brand-primary;
}

.tag{
  display:inline-block;
  margin-bottom: 5px;
  font-size:14px;
  border:1px solid #ddd;
  padding:10px 15px;
  -webkit-transition:all .2s ease-out;
  transition:all .2s ease-out;
}

.tag,
.tag:active,
.tag:hover,
.tag:focus{
  font-weight:300;
  background:transparent;
  color:#313131;
  text-decoration:none;
}

.tag:hover{
  color:#fff;
  background: @brand-primary;
  border:1px solid @brand-primary;
}

.post-footer .fa-tags{
  color:@brand-primary;
  font-size: 18px;
}

.post-footer .tag{
  font-size:13px;
  padding:5px 10px;
}

#search-form .form-control {
  display:inline;
  padding-right: 40px;
  background:transparent;
  border-radius:2px;
  border-color: #ddd;
  box-shadow:none;
  color:#777;
  outline:none;
  font-weight:300;
}

#search-form{
  position:relative;
}

#search-form .form-control:focus {
  outline:none;
  box-shadow:none;
  border-color: #aaa;
}

#search-form button{
  position: absolute;
  top:0;
  right: 0;
  padding: 7px 10px;
  font-size: 21px;
  line-height: 32px;
  background: none;
  border: none;
  color:#ddd;
  -webkit-transition: color .15s ease-out;
  transition: color .15s ease-out;
}

#search-form button:hover{
  color:@brand-primary;
}

.widget ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.widget ul li{
  border-bottom: 1px solid #ddd;
}

.widget ul li:first-child{
  border-top: 1px solid #ddd;
}

.widget ul li a{
  display: block;
  position: relative;
  color:inherit;
  padding:12px 0;
  padding-left: 5px;
  text-decoration: none;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.widget ul li a:hover{
  padding-left: 10px;
  color:@brand-primary;
}

.widget ul li a:after{
  position: absolute;
  right: 10px;
  margin-left:15px;
  content:'\f105';
  font-size: 18px;
  line-height: 24px;
  font-family: fontAwesome;
  -webkit-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

.widget .media img{
  max-width: 80px;
  opacity:1;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out;
}

.widget .media a:hover img{
  opacity:.6;
}

.widget .media-body .small{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 1em;
  color:#aaa;
}

.widget .media-body p{
  font-size: 15px;
}

.widget .media a{
  color:inherit;
  text-decoration: none;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.widget .media a:hover{
  color:@brand-primary;
}

/*Comments*/

.post-comments{
  margin-top: 70px;
}

.post-comments .media-list .media{
  padding:30px;
  border:1px solid #ddd;
}

.post-comments .media-list .media .media{
  padding:15px 0 0;
  border:none;
}

.post-comments .media-list .replies{
  border-bottom: 1px dotted #ddd;
  text-align: center;
}

.post-comments .media-list .replies span{
  position: relative;
  top:10px;
  padding:0 30px;
  background: #fff;
}

.post-comments .media-heading {
  margin-bottom: 10px;
}

.post-comments .media-heading h5{
  margin-bottom: 0;
}

.post-comments .media-heading .comment-date{
  color:#aaa;
  font-size: 13px;
  line-height: 13px;
}

#comment-form{
  margin-top:80px;
}

#comment-form h3{
  margin-bottom:0;
}

#comment-form small{
  color:#aaa;
}

#comment-form .form-header{
  margin-bottom: 30px;
}

#comment-form label{
  display: none;
}

.no-placeholder #comment-form label{
  display: block;
}

#comment-form .controls {
  padding:0;
  margin-bottom:30px;
}

#comment-form .form-control {
  display:inline;
  background:transparent;
  border-radius:2px;
  border-color: #ddd;
  box-shadow:none;
  color:#999;
  outline:none;
  height:52px;
  font-weight:300;
}

#comment-form .form-group{
  position:relative;
}

#comment-form textarea.form-control {
  height:auto;
  max-width:100%;
  min-width:100%;
  vertical-align:top;
}

#comment-form .form-control:focus {
  outline:none;
  box-shadow:none;
  border-color: #999;
}

#comment-form .btn-quattro{
  padding: 15px 40px;
  margin: 0;
  border-radius:2px;
}

/*end Blog*/