

/*------------------
----- Buttons ------
--------------------*/

.btn-quattro,
.btn-quattro:focus {
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 20px 40px;
  display: inline-block;
  margin:20px 0;
  text-decoration: none;
  font-weight: 400;
  outline: none;
  position: relative;
  background: @brand-primary;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.btn-quattro:hover,
.btn-quattro:active {
  color: #fff;
  background: @brand-secondary;
  text-decoration: none;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.btn-quattro.transparent,
.btn-quattro.transparent:focus {
  background: transparent;
  padding: 18px 38px;
  border:2px solid #fff;
  box-shadow: none;
  text-decoration: none;
  -webkit-transition:all .2s ease-out;
  transition:all .2s ease-out;
}

.btn-quattro.transparent:hover,
.btn-quattro.transparent:active {
  background: #fff;
  color:@brand-primary;
  top:0;
  box-shadow:0 3px rgba(0,0,0,0.1);
  text-decoration: none;
}

.btn-quattro.white,
.btn-quattro.white:focus {
  background: #fff;
  color:@brand-primary;
  box-shadow: none;
  text-decoration: none;
  -webkit-transition:all .2s ease-out;
  transition:all .2s ease-out;
}

.btn-quattro.white:hover,
.btn-quattro.white:active {
  color: #fff;
  background: @brand-primary;
  top:0;
  text-decoration: none;
}


.btn-quattro [class*=fa]{
  margin-right:10px;
}

.btn + .btn {
  margin-left:10px;
}