
/*----------------------
-----Clients Styles-----
------------------------*/
.clients .client {
  max-width:300px;
  margin:0 auto 0;
  padding:30px;
  overflow:hidden;
}

.client img {
  -webkit-transform:scale(1);
  transform:scale(1);
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.client img:hover {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}
