
/*----------------
----- Colors -----
------------------*/

.white-bg{
  background:#fff;
}

.gray-bg{
  background:#f3f3f3;
}

.color-bg,
.primary-bg {
  background: @brand-primary;
}

.secondary-bg {
  background: @brand-secondary;
}

.dark-bg{
  background:#4E5961;
}
.black-bg{
  background:#000000;
}

.light-typo {
  color:#fff;
}

.color-bg.light-typo .section-title:after{
  background:#fff;
}

.white-bg + .gray-bg,
.gray-bg + .white-bg {
  border-top:1px solid #e5e5e5;
}

.parallax-bg{
  background-repeat:no-repeat;
  background-position: 50% 0;
  background-size:cover;
  background-attachment:fixed;
}

.touch .parallax-bg{
  background-attachment:scroll;
}
