
/*----------------------
-----Contact Styles-----
------------------------*/
.contact-item h2{
  font-size:21px;
  font-weight:300;
  margin-bottom:10px;
}

.contact-item .icon{
  display:block;
  padding:10px 0;
  font-size:36px;
  color:@brand-primary;
  -webkit-transition:all .2s ease-in;
  transition:all .2s ease-in;
}

.contact-item .icon:hover{
  color:@brand-primary;
  -webkit-transform:scale(1.2) translateY(-5px);
  transform:scale(1.2) translateY(-5px);
}

#contact-form .form-group label{
  display:none;
  font-size:18px;
  line-height:24px;
  font-weight:100;
  text-transform:uppercase;
}

.no-placeholder #contact-form .form-group label{
  display:block;
}

#contact-form .controls {
  padding:0;
  margin-bottom:30px;
}

#contact-form.no-placeholder .controls {
  margin-top:0;
}

#contact-form .form-control {
  display:inline;
  background:transparent;
  border-radius:5px;
  border-color: #777;
  color:#fff;
  outline:none;
  height:52px;
  font-weight:300;
}

#contact-form .form-group{
  position:relative;
}

#contact-form textarea.form-control {
  height:auto;
  max-width:100%;
  min-width:100%;
  vertical-align:top;
}

#contact-form .form-control:focus {
  outline:none;
  box-shadow:none;
  border-color: #ddd;
}

#contact-form .error-message {
  padding:5px 0;
  position:absolute;
  top:-30px;
  right:0;
  font-size:14px;
  line-height:24px;
  font-weight:300;
  color:#ff3345;
  z-index:10;
}

#contact-form.no-placeholder .error-message {
  top:0;
}

/*V2 (Google map)*/

#contact{
  position: relative;
  z-index: 1;
}

#contact .container{
  position: relative;
  z-index: 99;
}

#gmap {
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute !important;
  top: 0;
  z-index: 0 !important;
}

#gmap-overlay{
  display:block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.92);
  z-index: 9 !important;
}

.toggle-button{
  display: block;
  padding:20px 0;
  width:100%;
  top:0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-align: center;

  z-index: 3;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#toggle-map{
  position: absolute;

  color:#fff;
  background: #000;
  background: rgba(0,0,0,.4);
}
#toggle-imprint, #toggle-datenschutz{
  color:#000;
  background: #fff;
  background: rgba(255,255,255,.4);
}

.show-map #toggle-map{
  background: rgba(0,0,0,.85);
}

#toggle-map:hover{
  color:@brand-primary;
  text-decoration: none;
}

.toggle-button:after{
  margin-left:10px;
  font-family: fontAwesome;
  font-size: 21px;
  line-height: 21px;
  content:'\f107';
  vertical-align: bottom;
}

#toggle-map .hide-map-text{
  display:none;
}
#hide-imprint-text{
  display:none;
}
#hide-datenschutz-text{
  display:none;
}

#imprint, #datenschutz {
  overflow: hidden;

  .container{
    display:none;
    opacity:0;
    padding-top: 50px;
    padding-bottom: 100px;
    .transition(opacity 2s);
  }

  &.show .container {
    opacity:1;
  }
}



#gmap .infowin{
  padding:10px 20px;
}

#gmap .infowin p{
  margin-bottom:10px;
  font-family:Raleway, Arial, sans-serif;
  font-size:16px;
  line-height:24px;
  color:#777;
}

#gmap .infowin a:hover{
  text-decoration:underline;
}

/*end Google map*/