

/*--------------------
----Counters Styles----
----------------------*/

.counter{
  margin-top:20px;
  font-size:98px;
  line-height: 1.05em;
  font-weight:100;
  color:@brand-primary;
}

.counter + p {
  font-size:18px;
  color:#aaa;
}