
/*-------------------------
------Call to action-------
--------------------------*/
.cta {
  padding:50px 0 30px;
}

.cta .cta-message p {
  padding:15px 0 20px;
  font-size:22px;
  line-height:32px;
}

.cta .cta-message strong {
  font-size:24px;
  letter-spacing:0.02em;
}

.cta .cta-button{
  padding:0;
}