
/*V2 (Dropdown)*/

/*----------------------
-----Dropdown Styles----
------------------------*/

.dropdown > a:after{
  content:"\f0d7";
  font-size:14px;
  margin-left:5px;
  font-family:fontAwesome;
}

.dropdown .dropdown > a:after{
  position: absolute;
  right:10px;
  content:"\f0da";
  font-size:14px;
  line-height: 18px;
  margin-left:5px;
  font-family:fontAwesome;
}

.dropdown .left-side.dropdown > a:after{
  left:5px;
  right:auto;
  content:"\f0d9";
}

.dropdown-menu{
  padding:0;
  left:-10px !important;
  right:auto !important;
  display: block;
  border-radius: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity:0;
  -webkit-transition:opacity .2s ease-out,-webkit-transform .2s ease-out;
  transition:opacity .2s ease-out,transform .2s ease-out;
}

.dropdown-menu .dropdown-menu{
  top:-4px;
  left:100% !important;
  right:auto !important;
}

.dropdown-menu .left-side .dropdown-menu{
  top:-4px;
  left:auto !important;
  right:100% !important;
}

.dropdown:hover > .dropdown-menu{
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity:1;
}


#main-nav  .dropdown:hover > a{
  opacity: 1;
}

#main-nav .dropdown-menu li{
  padding:0;
  margin:0;
}

#main-nav .dropdown-menu a{
  padding:17px 50px 17px 30px;
  font-size:14px;
  font-weight: 300;
  line-height: 14px;
  color: #313131;
  text-transform: none;
  -webkit-transition:all .2s ease-out;
  transition:all .2s ease-out;
}

#main-nav .dropdown-menu a:hover{
  padding:17px 50px 17px 30px;
  font-size:14px;
  font-weight: 300;
  line-height: 14px;
  color: #313131;
  text-transform: none;
  background: #f9fbfc;
  -webkit-transition:all .2s ease-out;
  transition:all .2s ease-out;
}


#main-nav .dropdown-menu a:before{
  display: none !important;
}

/*end dropdown*/
