
/*--------------------
---Features Styles---
----------------------*/
.features .section-description{
  margin-bottom:80px;
}

.features .media .pull-right{
  margin-left:20px;
  padding: 0;
}

.features .media .pull-left{
  margin-right:20px;
  padding: 0;
}


.features .drawing {
  width:80px;
  height:80px;
  text-align:center;
}


.features .media:hover .drawing svg {
  path, line, polyline {
    stroke: @brand-primary;
  }
}

//.features .icon {
//  width:80px;
//  height:80px;
//  text-align:center;
//  background:transparent;
//  color:@brand-primary;
//  font-size:28px;
//  line-height:80px;
//  border:1px solid @brand-primary;
//  border-radius:50%;
//  -webkit-transition:all .3s ease-out 0s;
//  transition:all .3s ease-out 0s;
//}

//.features .media:hover .icon {
//  background:@brand-primary;
//  color: #fff;
//}

//.features .icon .icon-1 {
//  width:80px;
//  opacity:1;
//  -webkit-transform:scale(1);
//  transform:scale(1);
//  -webkit-transition:all .3s ease-out .0s;
//  transition:all .3s ease-out .0s;
//}
//
//.features .icon .icon-2 {
//  width:80px;
//  position:relative;
//  top:-80px;
//  opacity:0;
//  -webkit-transform:scale(2);
//  transform:scale(2);
//  -webkit-transition:all .3s ease-out 0s;
//  transition:all .3s ease-out 0s;
//}
//
//.features .media:hover .icon .icon-1 {
//  opacity:0;
//  -webkit-transform:scale(0);
//  transform:scale(0);
//  -webkit-transition:all .3s ease-out 0s;
//  transition:all .3s ease-out 0s;
//}
//
//.features .media:hover .icon .icon-2 {
//  opacity:1;
//  -webkit-transform:scale(1);
//  transform:scale(1);
//  -webkit-transition:all .3s ease-out .0s;
//  transition:all .3s ease-out .0s;
//}

.features .media, .configurator .media {
  margin-bottom:40px;
}

//.features .media-body p{
//  font-size:16px;
//}

.features .media h4 {
  -webkit-transition:color .3s ease-out;
  transition:color .3s ease-out;
}

.features .media:hover h4 {
  color:@brand-primary;
}
