

/*----------------------
-----Footer Styles------
------------------------*/

#main-footer {
  padding:40px 0 20px;
  background:#fff;
}

.social-links {
  list-style:none;
  margin:0;
  padding:0;
  margin-top:40px;
  margin-bottom:20px;
  padding-top:10px;
  padding-bottom:10px;
}

.social-links li{
  display:inline-block;
  margin:0 5px 5px;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.social-links li a {
  display:block;
  color:#313131;
  font-size:28px;
  width:50px;
  height:50px;
  line-height:50px;
  border-radius:50%;
  text-align:center;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.social-links li:hover a{
  color:@brand-primary;
}
