
/*----------------------
-----Header Styles------
------------------------*/

.intro {
  color:#fff;
  padding:0;
  margin-bottom:0;
}

.intro .header-content{
  position:relative;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}

.intro .header-content.pattern-bg{
  background:url(/assets/images/pattern-bg.png);
  background-color:rgba(0,0,0,0.5);
}

.header-logo{
  position: absolute;
  top:8%;
  left:50%;
  width:240px;
  margin-left:-120px;
}

.scroll-button{
  position:absolute;
  bottom:10px;
  left:50%;
  margin-left:-35px;
  margin-right:-35px;
  color:#fff;
  padding:20px;
  font-size:48px;


  .whiteboard & {
    color: @text-color;
  }

  &.scroll-button-left {
    left: 40px;
    bottom: 50%;
    margin-bottom: -54px;
    i {
      -webkit-animation: moving-left 2s ease-out infinite;
      animation: moving-left 2s ease-out infinite;
    }
  }

  &.scroll-button-right {
    left: auto;
    right: 40px;
    bottom: 50%;
    margin-bottom: -54px;
    i {
      -webkit-animation: moving-right 2s ease-out infinite;
      animation: moving-right 2s ease-out infinite;
    }
  }

  i {
    position: relative;
    -webkit-animation: moving-down 2s ease-out infinite;
    animation: moving-down 2s ease-out infinite;
  }

}

@-webkit-keyframes moving-down {
  0% 	{ top: 0px; }
  30% 	{ top: 20px; }
  60% 	{ top: 0px; }
}

@keyframes moving-down {
  0% 	{ top: 0px; }
  30% 	{ top: 20px; }
  60% 	{ top: 0px; }
}

@-webkit-keyframes moving-left {
  0% 	{ right: 0px; }
  30% 	{ right: 20px; }
  60% 	{ right: 0px; }
}

@keyframes moving-left {
  0% 	{ right: 0px; }
  30% 	{ right: 20px; }
  60% 	{ right: 0px; }
}

@-webkit-keyframes moving-right {
  0% 	{ left: 0px; }
  30% 	{ left: 20px; }
  60% 	{ left: 0px; }
}

@keyframes moving-right {
  0% 	{ left: 0px; }
  30% 	{ left: 20px; }
  60% 	{ left: 0px; }
}

.intro h1{
  margin:0;
//  font-size:63px;
}

.intro p{
  margin:0;
}

.intro .large-text{
  margin-bottom:10px;
  font-size:86px;
  line-height:92px;
  font-weight:900;
}

.intro .bordered-text{
  display:inline-block;
  border:5px solid #fff;
  margin:0 50px 0;
  padding:20px 30px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size:58px;
  line-height:72px;
  font-weight:600;
  text-transform: uppercase;
}

.header-slider li{
  -webkit-transform:translateY(50px);
  transform:translateY(50px);
  -webkit-transition:-webkit-transform .4s ease-out;
  transition:transform .4s ease-out;
}

.header-slider li.flex-active-slide{
  -webkit-transform:translateY(0);
  transform:translateY(0);
  -webkit-transition:-webkit-transform .4s ease-out .1s;
  transition:transform .4s ease-out .1s;
}

/*V2 (Inner Pages)*/

#inner-page-header{
  position: relative;
}

#inner-page-header .header-content{
  color:#fff;
  padding:10% 0 10%;
  text-align:center;
}
//
//#inner-page-header .bordered-text{
//  display:inline-block;
//  position: relative;
//  border:4px solid #fff;
//  margin:0 50px 0;
//  padding:20px 30px;
//  font-family: 'Roboto', Arial, sans-serif;
//  font-size:48px;
//  line-height:72px;
//  font-weight:400;
//  text-transform: uppercase;
//}

/*end Inner Pages*/
