
/*----------------------
---Main Layout Styles---
------------------------*/
.img-center{
  margin:0 auto;
}

.padding-top-bottom {
  padding:100px 0;
}

.padding-top {
  padding:100px 0 0;
}

.margin-bottom{
  margin-bottom: 40px;
}

.navbar {
  margin:0;
  border-radius:0;
}

.section-title{
  position:relative;
  margin-bottom:40px;
  font-size:@font-size-h1;
//  line-height:78px;
  text-align:center;
}

//.section-title:after{
//  display:block;
//  content:"";
//  width:100px;
//  height:1px;
//  position:absolute;
//  left:50%;
//  bottom:-15px;
//  margin-left:-50px;
//  background:@brand-primary;
//}

.section-description {
  text-align:center;
  font-size:18px;
  margin-bottom:60px;
}

.subsection-title{
  text-align:center;
  margin-top:80px;
}

.subsection-description {
  text-align:center;
  margin-bottom:60px;
}

.big-title{
  position:relative;
  margin-bottom:40px;
  font-size:52px;
  line-height:1.05em;
  letter-spacing:0;
}

//.big-title:after{
//  display:block;
//  content:"";
//  width:100px;
//  height:1px;
//  position:absolute;
//  left:0;
//  bottom:-20px;
//  background:@brand-primary;
//}

.flexslider {
  margin:0;
  padding:0;
  background:transparent;
  border:none;
  box-shadow:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index:1;
}