
/*----------------------
----Navigation Styles---
------------------------*/
.sticky-wrapper{
  background:#F3F3F3;
}

#main-nav{
  position:fixed;
  top:0;
  left:0;
  border-bottom: 1px solid #fff;
  box-shadow:0 1px 3px rgba(0,0,0,0.3);
  z-index: 99998;
  background:#fff;
  color:#4E5961;
  width:100%;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transition:box-shadow .2s ease-out;
  transition:box-shadow .2s ease-out;
}

//#main-nav .navbar-toggle{
//  border:1px solid #4E5961;
//  border-radius:0;
//}

#main-nav .icon-bar {
  background:#4E5961;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
  position:relative;
  padding:0 10px;
  margin:12px 0;
  font-size:28px;
  line-height:54px;
  height:40px;
  font-weight:600;
  color:#777;
  font-variant:small-caps;
  letter-spacing:0.02em;
  -webkit-transition:font-size .2s ease-out;
  transition:font-size .2s ease-out;
  overflow:hidden;
}

.site-logo{height:40px;margin:0;top:0;vertical-align:top;}

#main-nav .container{
  padding:0 20px;
  -webkit-transition:padding 0.3s ease-out;
  transition:padding 0.3s ease-out;
}

#main-nav .nav a{
  position:relative;
  z-index:1;
}

#main-nav .nav a,
#main-nav .nav a:active,
#main-nav .nav a:hover{
  padding:5px 10px;
  font-size:14px;
  line-height:54px;
  font-weight:400;
  letter-spacing:0.01em;
  //text-transform:uppercase;
  background:transparent;
  color:#313131;
  opacity:0.5;
  -webkit-transition:opacity 0.2s ease-out;
  transition:opacity 0.2s ease-out;
}

#main-nav .nav .active > a,
#main-nav .nav a:hover,
.inner-page #main-nav .nav .active > a{
  opacity:1;
}

#main-nav .nav a:before {
  display:none;
  position:absolute;
  top:-1px;
  left:5%;
  content:"";
  width:90%;
  height:3px;
  background:@brand-primary;
  z-index:-1;
  opacity:0;
  -webkit-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
}

#main-nav .nav .active > a:before {
  opacity:1;
}

#main-nav .nav .active > a:before {
  display:block;
}

#main-nav li{
  background:transparent;
  margin:0 5px;
}

.inner-page .sticky-wrapper{
  background:#fff;
}
