
/*-----------------------
---- Preloader Styles ----
-------------------------*/
#page-loader{
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 99999;
}

@page-loader-size: 64px;

#page-loader svg{
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -@page-loader-size / 2;
  margin-top: -@page-loader-size / 2;
}
