
/*-------------------
------ Prices -------
---------------------*/

.pricing .item {
  position:relative;
  top:20px;
  background:rgba(255,255,255,1);
  padding-top:40px;
  padding-bottom:40px;
  border: 1px solid #ddd;
  color:#777;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.pricing .item.featured {
  top:0;
  padding-top:50px;
  padding-bottom:50px;
}

.pricing .item:hover,
.pricing .item.featured {
  background:@brand-primary;
  color:#fff;
}

.pricing .item h2 {
  font-size:28px;
  font-weight:700;
  margin-bottom:0;
  text-transform:uppercase;
}

.pricing .item.featured h2 {
  margin-bottom:10px;
}

.pricing .item p {
  margin-bottom:5px;
  font-weight:400;
}

.pricing .item .icon {
  display:block;
  margin-bottom:30px;
  margin:0 0 30px;
  background:url(/assets/images/dark_mosaic.png) 0 0;
  width:auto;
  height:80px;
  font-size:48px;
  line-height:80px;
  color:#fff;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.pricing .item.featured .icon,
.pricing .item:hover .icon{
  color:@brand-primary;
  background:#fff;
}

.pricing .item .btn-quattro {
  margin-top:20px;
  margin-bottom:0;
  font-size:16px;
  padding:10px 20px;
}

.pricing .item.featured .btn-quattro,
.pricing .item:hover .btn-quattro {
  background: #fff;
  color:@brand-primary;
}

.pricing .item .price {
  font-size:48px;
  font-weight:100;
  line-height:48px;
  margin-bottom:30px;
}

.pricing .item.featured .price {
  margin-bottom:40px;
}
