
/*-----------------------
-----Services Styles-----
-------------------------*/
.services{
  margin-top:80px;
  margin-bottom:40px;
}


.services .drawing {
  height:200px;
  text-align:center;
}

.services .item:hover .drawing svg {
  path, line, polyline {
    stroke: @brand-primary;
  }

}
//
//
//.services .icon {
//  position:relative;
//  width:150px;
//  height:150px;
//  margin:0 auto;
//  text-align:center;
//  line-height:150px;
//  font-size:48px;
//  color:#fff;
//  background: @brand-primary;
//  border:1px solid @brand-primary;
//  border-radius:50%;
//  box-shadow:0 0 0 0 rgba(0,0,0,0.0);
//  margin-bottom:40px;
//  -webkit-transition:all .3s ease-out;
//  transition:all .3s ease-out;
//}
//
//.services .item:hover .icon {
//  color:@brand-primary;
//  background: #fff;
//  border:1px solid #ddd;
//}
//
//.services .item:hover [class*=fa]{
//  -webkit-transform:scale(1.2);
//  transform:scale(1.2);
//  -webkit-transition:all .3s ease-out;
//  transition:all .3s ease-out;
//}

.services h3 {
  font-size:21px;
  font-weight:400;
  text-transform:uppercase;
  -webkit-transition:color .3s ease-out;
  transition:color .3s ease-out;
}

.services .item:hover h3 {
  color:@brand-primary;
}

.services p {
  padding:0 20px;
  font-size:16px;
  line-height:21px;
}
