

/*-------------------
-----Team Styles-----
---------------------*/
.team-member {
  margin-bottom:30px;
  position: relative;
}

.member-thumb{
  position: relative;
  text-align:center;
  border:1px solid #ddd;
  border-bottom: none;
  overflow:hidden;
}

.member-thumb img{
  -webkit-transition:-webkit-transform .2s ease-out;
  transition:transform .2s ease-out;
}

.team-member:hover .member-thumb img{
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
}

.member-details h4{
  margin:0;
  font-size:21px;
}

.member-details .title{
  margin:0 0 10px;
  font-size: 16px;
  color:@brand-primary;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.member-details p{
  margin:0;
  font-size: 14px;
}

.team-member .member-details {
  margin:0;
  position:relative;
  padding:20px;
  background:#fff;
  border:1px solid #ddd;
  border-top: none;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.team-member:hover .member-details {
  background:@brand-primary;
  color:#fff;
}

.team-member:hover .member-details .title{
  color:#fff;
}

.team-member .member-socials {
  bottom:20px;
  position: absolute;
  list-style:none;
  margin:0;
  padding:0;
  width:100%;
}

.team-member .member-socials li {
  display:inline-block;
  text-align:center;
  margin:0 2px;
  opacity:0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition:all .2s ease-out;
  transition:all .2s ease-out;
}

.team-member:hover .member-socials li:nth-child(2) {
  transition-delay:.1s;
}

.team-member:hover .member-socials li:nth-child(3) {
  transition-delay:.2s;
}

.team-member:hover .member-socials li:nth-child(4) {
  transition-delay:.3s;
}

.team-member:hover .member-socials li:nth-child(5) {
  transition-delay:.4s;
}

.team-member:hover .member-socials li {
  opacity:1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.team-member .member-socials li a{
  display:inline-block;
  padding:0;
  min-width:40px;
  height:40px;
  font-size:21px;
  line-height:40px;
  color:@brand-primary;
  background:rgba(255,255,255,.8);
  border-radius:5px;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.team-member .member-socials li a:hover{
  background:@brand-primary;
  color:#fff;
}
