
/*----------------------
-----Testimonials ------
------------------------*/
.testimonials {
}

.testimonials .quote-icon {
  padding-top:6px;
  text-align:center;
}

.testimonials .fa-quote-left {
  font-size:48px;
  margin-bottom:20px;
}

.testimonials a:hover,
.testimonials a:active,
.testimonials a:focus{
  text-decoration:none;
}

.testimonials .media-body{
  padding:15px 0 0 30px;
}

.testimonials .testimonial{
  font-size:22px;
  line-height:32px;
  font-weight:300;
  font-style:italic;
  word-spacing:5px;
  margin-bottom:20px;
  padding-left: 150px;
}

.testimonials .tweet a:hover{
  text-decoration:underline;
}
.testimonials .client-img{
  width:auto;
  margin:0 auto;
  display: block;
}

.testimonials .client{
  font-size:16px;
  font-weight:300;
  margin-bottom:15px;
}

.testimonials .client span{
  font-style:italic;
}

.testimonials-slider{
  margin:0;
  padding:0;
  margin-top:20px;
  margin-bottom:20px;
  border:none;
  box-shadow:none;
  background:transparent;
}
.testimonials-slider .flex-control-nav {width: 100%; position: absolute; bottom: -20px; text-align: center;}
.testimonials-slider .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.testimonials-slider .flex-control-paging li a {width: 36px; height: 12px; display: block; background: rgba(255,255,255,0.1); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; border-radius: 0; box-shadow: none;}
.testimonials-slider .flex-control-paging li a:hover { background: @brand-primary; }
.testimonials-slider .flex-control-paging li a.flex-active { background: @brand-primary; cursor: default; }

.testimonials-slider li{
  -webkit-transform:translateY(50px);
  transform:translateY(50px);
  -webkit-transition:-webkit-transform .3s ease-out;
  transition:transform .3s ease-out;
}

.testimonials-slider li.flex-active-slide{
  -webkit-transform:translateY(0);
  transform:translateY(0);
  -webkit-transition:-webkit-transform .3s ease-out .1s;
  transition:transform .3s ease-out .1s;
}
