.blog-post,
.blog-index {

  article {
    .container;
    max-width: 800px;
  }

  @media (min-width: 768px) {
    min-height: 600px;
  }
}

.blog-section {
  .white-bg;

  &:nth-child(even) {
    .gray-bg;
  }
}

.blog-teaser {
  padding: 40px 0 20px;

  h2 {
    margin-top: 0;
  }

  text-align: center;

  h2 {
    margin-bottom: 0;
  }
}

.blog-post {
  padding: 100px 0 40px;

  header {
    text-align: center;
    h1 {
      margin-bottom: 0;
    }

    .blog-meta {
      margin-bottom: 2em;
    }
  }

  @media (min-width: 768px) {
    font-size: @font-size-large;
  }
}

.blog-meta {
  font-size: @font-size-small;
  color: #666;
  margin-bottom: 1em;
}

.blog-author {
  .gray-bg;
  text-align: center;
  padding: 40px 0 20px;

  img {
    width: @blog-author-image-size;
    height: @blog-author-image-size;
    border-radius: @blog-author-image-size/2;
  }

  .social-links {
    margin: 0;
    padding: 0;
  }
}
