@fullscreenNavButtonsWidth: 50px;

.fullscreen {

  min-height: 650px;

  .section-title {
    margin-top: -40px;
  }


  .flexslider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  ul.slides {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    > li {
      height: 100%;
      padding: 200px @fullscreenNavButtonsWidth 0;


      .container {
        width: 100%;
        padding: 0;

        @media (min-width: @screen-sm-min) {
          max-width: @container-sm;
        }
        @media (min-width: @screen-md-min) {
          max-width: @container-md;
        }
        @media (min-width: @screen-lg-min) {
          max-width: @container-lg;
        }
      }

    }
  }

  @media (max-width: 767px) {

    min-height: 550px;

    .flexslider {
      position: relative;
    }

    ul.slides {

      position: relative;

      > li {
        padding: 50px !important;
        hieght: 100%;

      }
    }

    .section-title {
      margin-top: 0;
    }

  }

  @media (max-width: 420px) {

//    height: 650px;

    ul.slides {
      > li {
        padding: 30px 15px 15px;
      }
    }

    // hide next/prev on small devices
    .flex-direction-nav {
      .flex-next,
      .flex-prev {
        display: none;
      }
    }
  }

}