/*--------------------
-----Main Styles------
----------------------*/
body, html {
  height: 100%;
}

body {
  background: #fff;
  padding-top: 66px;

  &.whiteboard {
    padding-top: 0;
  }
}

section {
  position: relative;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

section.gray-bg .inquiry-form {
  textarea.form-control, input.form-control {
    background-color: white !important;
  }
}

.header-alert {
  background-color: black;
  text-align: center;
  color: #ddd;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 20px;

  a {
    padding-left: 10px;
    color: #ddd;
  }
  a:hover {
    text-decoration: underline;
  }
  a.close {
    padding-left: 20px;
    position: relative;
    text-transform: uppercase;
    color: white;
  }
}

.privacy-disclaimer {
  text-align: center;
}
.intro {
  //    display: table;
  height: 100%;
  width: 100%;

  &.whiteboard {
    background-color: #fff;
    background-size: cover;
    //    background-position: center center;

    .whiteboard-inner {

      padding: 70px 10px 90px;
      //      display: table;
      height: 100%;
      width: 100%;

    }
  }

}

.beratung .intro {
  margin-top: -66px;

  height: auto;
  min-height: 100%;

  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1),
  0px 0px 10px rgba(255, 255, 255, 1),
  0px 0px 20px rgba(255, 255, 255, 1),
  0px 0px 30px rgba(255, 255, 255, 1),
  0px 0px 40px rgba(255, 255, 255, 1),
  0px 0px 50px rgba(255, 255, 255, 1);

  .whiteboard-inner {
    padding: 70px 40px 90px;
    color: #333333;

    h1 {
      padding: 100px 0 40px;
      margin-top: 40px !important;
    }
    a {
      color: #333333;
    }

    .container {
      padding-top: 60px;
      p {
        padding-bottom: 20px;
      }

      ul, ol {
        padding-left: 50%;
        margin-left: -180px;
        list-style: none;

        li:before {
          content: "\f00c"; /* FontAwesome Unicode */
          color: #339933;
          font-family: FontAwesome;
          display: inline-block;
          margin-left: -1.3em; /* same as padding-left set on li */
          width: 1.3em; /* same as padding-left set on li */
        }

      }
    }

  }
}

body.index .intro {
  padding-top: 86px;
  padding-bottom: 20px;
}

body {
  //    font-size:16px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  margin: 30px 0 20px;
}

h4,
h5,
h6 {
  margin: 20px 0 10px;
}

h1:first-of-type {
  margin-top: 0;
}

p {
  //    font-size:16px;
  margin-bottom: 20px;
}

.lead {
  font-size: 20px;
  line-height: 28px;
  font-weight: 100;
  letter-spacing: 0.02em;
  margin-top: 40px;
  margin-bottom: 40px;
}

//a,
//a:hover,
//a:focus {
//    outline:none !important;
//    text-decoration:none;
//}
//
//a {
//    color:#008ED6;
//    text-decoration: none;
//}
//
//a:hover,
//a:focus {
//    color:#008ED6;
//    text-decoration: underline;
//}
//
//a:focus,
//.btn:focus {
//    outline: none;
//}

.color-bg,
.primary-bg,
.secondary-bg {
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: #fff;
    text-decoration: none;
  }
}

.primary {
  color: @brand-primary;
}

.secondary {
  color: @brand-secondary;
}

//@import "quattro/about";
//@import "quattro/blog";
@import "quattro/button";
//@import "quattro/clients";
@import "quattro/colors";
@import "quattro/contact";
//@import "quattro/counter";
@import "quattro/cta";
//@import "quattro/dropdown";
@import "quattro/features";
@import "quattro/footer";
@import "quattro/header";
@import "quattro/layout";
@import "quattro/navigation";
@import "quattro/portfolio";
//@import "quattro/preloader";
//@import "quattro/prices";
@import "quattro/scrollimations";
@import "quattro/services";
//@import "quattro/team";
@import "quattro/testimonials";

.flex-direction-nav a {

  &:before {
    content: '' !important;
  }

  .light-typo & {
    color: #fff;
    font-size: 36px;
  }
}

.flexslider:hover .flex-direction-nav,
.touch .flex-direction-nav {
  .flex-next {
    right: 20px;
    opacity: 1;
  }
  .flex-prev {
    left: 20px;
    opacity: 1;

  }
}

.job-item:hover {
  cursor: pointer;
}

#job-preview {
  display: none;
  position: relative;
  max-width: 940px;
  margin: 80px auto 60px;
  font-weight: 400;
  opacity: 0;
  letter-spacing: 0.02em;
  overflow: visible !important;
}

.navbar-lang {
  margin-left: 35px;
  float: left;

  & > li {
    float: left;

    a {
      text-transform: uppercase;
    }
  }
}

a.restrain {
  text-decoration: none;
}

a.restrain:hover {
  text-decoration: none;
}

section.light-typo a.restrain {
  color: #fff;
}

#contact-form.inquiry-form {

  .error-message {
    top: 22px;
    right: 4px;
    font-weight: bold;
  }

  .form-group {
    margin-bottom: 0px;
  }

  .form-control {
    color: #333333;
  }
  h3 {
    margin: 40px 0 20px;
  }
  label {
    font-weight: normal;
    display: inline-block;
    text-transform: none;
  }
  .form-group.radio-row {

    .controls {
      input {
        height: auto;
        display: inline-block;
        width: auto;
        position: relative;
        top: 0px;
        float: left;
      }
      label {
        padding-left: 5px;
        max-width: 95%;
      }

    }
  }

  .form-group.radio-row.bool {
    clear: both;
    padding-bottom: 20px;
    .controls {

      label {
        padding-right: 25px;
        float: left;
      }
    }
  }

  input[type="number"] {
    width: 100px;
  }
}

#intro img {
  padding: 50px 0;
}

svg.handdrawn {
  -webkit-transition: opacity 500ms ease-out;
  -moz-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

.sticky-wrapper {
  height: auto !important;
}

body.beratung > .sticky-wrapper {
  min-height: 66px !important;
}

.features .drawing {
  margin-bottom: 50px;
}

.flex-direction-nav a {
  height: 80px;
  width: 80px;
  padding: 10px 30px;
}

.fullscreen ul.slides > li {
  padding: 200px 100px !important;
}

.navbar-lang li {
  margin: 0 15px !important;
}

/*----------------------
-----Media Queries------
------------------------*/

@media (max-width: 991px) {

  .container {
    width: 90%;
  }

  .intro .bordered-text {
    border: 4px solid #fff;
    padding: 15px 25px;
    font-size: 48px;
    line-height: 62px;
  }

  .cta-image {
    padding-bottom: 60px;
  }

  #projects-container .project-item {
    width: 49.98%;
  }

  .team-member {
    margin-bottom: 60px;
  }

  .team-member .member-thumb,
  .team-member .member-details {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  #project-slider {
    min-height: 0;
  }

  #inner-page-header .bordered-text {
    border: 4px solid #fff;
    padding: 15px 30px;
    font-size: 38px;
  }

  #main-sidebar {
    padding-left: 35px;
  }

  #main-sidebar.left-sidebar {
    padding-right: 35px;
  }

  .post-comments .media-body p {
    font-size: 14px;
  }

  .post-comments .media-list .media {
    padding: 20px 10px;
  }

  .post-comments .media .img-circle {
    max-width: 60px;
  }

  .section-title {
    font-size: 64px;
  }
}

//@media (min-width: 768px) {
//    .dropdown-menu{
//        display: block !important;
//        height:auto !important;
//    }
//}

@media (max-width: 767px) {

  .configurator .media, .features .media {
    margin-bottom: 60px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .section-title {
    font-size: 32px;
  }

  .section-description {
    font-size: 16px;
  }

  .big-title {
    font-size: 32px;
  }

  .header-logo {
    width: 180px;
    top: 5%;
    margin-left: -90px;
  }

  .header-slider {
    margin-top: 40px;
  }

  .intro .bordered-text {
    border: 3px solid #fff;
    margin: 0 20px 0;
    padding: 10px 20px;
    font-size: 32px;
    line-height: 44px;
  }

  .counter {
    font-size: 68px;
  }

  .cta .cta-message p,
  .cta .cta-message strong {
    font-size: 18px;
    line-height: 24px;
  }

  #main-nav .navbar-toggle {
    margin-top: 14px;
  }

  #main-nav .nav a {
    line-height: 42px !important;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
  }

  #main-nav .nav a:before {
    display: none !important;
  }

  #main-nav.stuck .nav .active > a,
  #main-nav .nav a:hover {
    opacity: 1;
    color: @brand-primary;
  }

  #main-nav li {
    //clear: both;
    //position: static !important;
  }

  .cta .cta-message {
    text-align: center;
  }

  .services .item {
    margin-bottom: 60px;
  }

  #project-title {
    font-size: 32px;
  }

  .team-member {
    margin-bottom: 60px;
  }

  .team-member .member-thumb,
  .team-member .member-details {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .testimonials .pull-left {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .testimonials .testimonial {
    font-size: 18px;
    line-height: 24px;
  }

  .project-item .project-thumb {
    max-width: 400px;
    margin: 0 auto;
  }

  .pricing .item {
    top: 0;
    margin: 0 auto 40px;
    max-width: 400px;
  }

  #main-sidebar {
    display: none;
  }

  #site-nav {
    max-height: 400px;
  }

  .dropdown .left-side.dropdown > a:after,
  .dropdown .dropdown > a:after {
    position: static;
    content: "\f0d7";
    font-size: 14px;
    margin-left: 5px;
    font-family: fontAwesome;
  }

  //.dropdown-menu .dropdown-menu,
  //.dropdown-menu{
  //    position: static;
  //    top:0 !important;
  //    left:0 !important;
  //    right:auto !important;
  //    padding:0;
  //    display: none;
  //    width: 100% !important;
  //    visibility: visible;
  //    box-shadow: none !important;
  //    border:none !important;
  //    -webkit-transform: translateY(0);
  //    transform: translateY(0);
  //    opacity:1;
  //}
  //#main-nav .dropdown-menu li{
  //    position: static;
  //    display: block;
  //    width: 100%;
  //    padding:0;
  //    margin:0;
  //}
  //
  //#main-nav .dropdown-menu a{
  //    clear: none;
  //    padding:5px 0;
  //    font-size:14px;
  //    line-height: 46px !important;
  //}
  //
  //#main-nav .dropdown-menu a:hover{
  //    padding:5px 0;
  //    font-size:14px;
  //    line-height: 14px;
  //    color: @brand-primary;
  //    background: none;
  //}
  #inner-page-header .bordered-text {
    margin-left: 30px;
    margin-right: 30px;
    padding: 15px;
    font-size: 21px;
    line-height: 32px;
  }

  .padding-top-bottom {
    padding: 50px 0;

    #single-post {
      margin-top: -50px;
    }
  }

  .padding-top {
    padding: 50px 0 0;
  }

  .features .media .pull-right {
    float: left !important;
    margin-left: 0;
    margin-right: 10px;
  }

  .features .media .pull-right + .text-right {
    text-align: left;
  }

  #testimonials .pull-left {
    float: none !important;
  }

  .post-comments .media .media,
  .post-comments .media .replies {
    margin-left: -50px;
  }

  .post-comments .btn {
    width: 100%;
  }

  .intro.whiteboard .whiteboard-inner {
    padding: 20px 20px 40px;
  }

}

@media (max-width: 479px) {
  #projects-container .project-item {
    width: 100%;
    border-right: none;
  }

}

// we don't need the background to cover the height on screens not larger than full-hd
@media (max-width: 1920px) {
  .parallax-bg {
    background-size: auto;
  }
}

@media (min-width: 1100px) {
  .container {
    width: 1070px;
  }
}

@media (max-width: 769px) {
  .beratung .intro .whiteboard-inner .container ul {
    margin-left: 0;
    padding-left: 20px;
  }

  .container {
    width: auto;
  }

  .padding-top-bottom {
    padding: 90px 0;
  }
}

