span.text-effect, a.text-effect {
  line-height: 100%;

    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform:scale(0.5);
    -webkit-transition: -webkit-transform .6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: transform .6s cubic-bezier(0.18, 0.89, 0.32, 1.28) .2s;

  &.xl {
    font-size: @font-size-h1;
    text-transform: uppercase;
  }

  &.l {
    font-size: @font-size-h2;
  }

  &.m {
    font-size: @font-size-h3;
  }

  @media (max-width: 767px) {
    &.xl {
      font-size: @font-size-h1/2;
      text-transform: uppercase;
    }

    &.l {
      font-size: @font-size-h2*0.75;
    }

    &.m {
      font-size: @font-size-h3;
    }
  }

}


section.text-effect {
  text-align: center;

  p {
    margin-bottom: 4em;

    opacity:0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform:translateY(100px);
    -webkit-transition: -webkit-transform .4s ease-out,opacity .4s ease-in;
    transition: transform .6s ease-out,opacity .4s ease-in-out;

    .touch &,
    &.in {
      opacity:1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      transform:translateY(0px);

      span.text-effect {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform:scale(1);
      }
    }
  }

}

