{{> header}}
{{> nav
    collections.beratung
        cookieDisclaimer="Diese Website verwendet Cookies. Wenn Sie hier weitersurfen, erklären Sie sich damit einverstanden."
        cookieReadMore="mehr erfahren"
        cookieClose="ok, schließen"
    }}
{{> intro}}

{{#each collections.beratung}}
    {{> section}}
{{/each}}

{{> footer}}
