---
title:  Damit sie nicht Äpfel mit Birnen vergleichen
navTitle: Angebote bewerten
lang: de
sectionClass: white-bg padding-top-bottom
sorting: 20
id: angebote
---

<p class="section-description">Im folgenden Abschnitt erfahren Sie worauf Sie achten müssen, wenn Sie verschiedene
    Angebote unterschiedlicher Agenturen für die Erstellung eines Produktkonfigurators miteinander vergleich und bewerten wollen.</p>

<p class="text-center tipps_toggle_buttons">
    <button class="btn btn-quattro" id="show_tipps" >
        <i class="fa fa-chevron-down"></i> Tipps anzeigen
    </button>

    <button class="btn btn-quattro firsthide" id="hide_tipps">
        <i class="fa fa-close"></i> Tipps schließen
    </button>
</p>

<div id="tipps" class="row firsthide container">

    <h3>Klar definierter Funktionsumfang des Produktkonfigurators</h3>
    <p>Die Tücke liegt oft im Detail. Extrem viele und wichtige Funktionen (wie etwa eine Undo- oder Speichern-Funktion)
        werden bei einigen Produktkonfiguratoren nicht mit kalkuliert und am Ende auch nicht kostenfrei mit umgesetzt. Dabei
        ist es gerade die Summe der vielen Details, die einen Konfigurator rund machen. Wenn der Funktionsumfang nicht klar
        definiert ist, kann es gut sein, dass am Ende die Kosten um ein vielfaches höher sind, als zu Beginn geschätzt.
        Spätestens seit Fertigstellung der Elbphilharmonie sollte dies jedem bewusst sein.
    </p>
    <h4>Unser Tipp</h4>
    <p>Wir empfehlen vor jedem Konfigurator-Projekt eine Konzeptionsphase. In dieser wird klar definiert, welche Funktionen
        enthalten sein sollen. Als Ergebnis dieser Konzeptionsphase entsteht ein mehr oder weniger detailliertes Konzept mit
        Skizzen des Produktkonfigurators, anhand dessen man sich Angebote einholen sollte.
    </p>

    <h3>Weiche Faktoren</h3>
    <p>Selbst wenn der Funktionsumfang eines Konfigurators klar definiert ist, können die Ergebnisse verschiedener Agenturen
        sehr unterschiedlich ausfallen. Dabei sind gerade die Faktoren wie eine einfache Bedienbarkeit
        (<a href="http://www.konfigurator-verzeichnis.de/content/usability" target="_blank">Usability</a>) oder auch
        die Benutzererfahrung (<a href="http://www.konfigurator-verzeichnis.de/content/ux" target="_blank">User Experience
        / UX</a>) wesentlich ausschlaggebend für den wirtschaftlichen Erfolg des Produktkonfigurators.
    </p>
    <p>Wenn die Bedienbarkeit etwa bei dem Produktkonfigurator Ihrer Konkurrenz wesentlich einfacher als bei Ihnen ist,
        werden Sie sich am Markt nur sehr schwer behaupten können. Denken Sie immer daran, dass die Konkurrenz nur einen
        Mausklick entfernt und Ihr Markt extrem transparent und umkämpft ist.
    </p>
    <p>Die <a href="http://www.konfigurator-verzeichnis.de/content/ux" target="_blank">UX</a> wird entscheidend durch das
        Wohlbefinden des Users bei der Benutzung geprägt. Dabei spielen Faktoren wie Design und Animationen eine große
        Rolle - nicht nur für das Image Ihres Produktes, sondern auch für die Abschlußquote (Conversion). Mit einem billig
        wirkenden Konfigurator werden Sie nur schwer teure Produkte verkaufen können.
    </p>
    <p>Hier finden Sie zwei Konfiguratoren die sich in Punkto
        <a href="http://www.konfigurator-verzeichnis.de/content/usability" target="_blank">Usability</a> und
        <a href="http://www.konfigurator-verzeichnis.de/content/ux" target="_blank">UX</a> extrem stark unterscheiden.
        Beurteilen Sie selbst, welchen Konfigurator Sie als Kunde bevorzugen würden.
    </p>
    <p><a href="http://www.amodoro.de/trauring-konfigurator" target="_blank">http://www.amodoro.de/trauring-konfigurator</a>
    </p>
    <p><a href="https://www.123gold.de/konfigurator/#A-1465-1|DE5|H|0|default" rel="nofollow" target="_blank">https://www.123gold.de/konfigurator/#A-1465-1|DE5|H|0|default</a>
    </p>
    <p> Die Punkte <a href="http://www.konfigurator-verzeichnis.de/content/usability" target="_blank">Usability</a> und
        <a href="http://www.konfigurator-verzeichnis.de/content/ux" target="_blank">UX</a> sind nur schwer messbar und
        werden daher oft in den Angeboten nicht berücksichtigt. Dabei geht es auch nicht immer nur um die Kosten, sondern
        auch um die Fähigkeit einer Agentur in diesen beiden Punkten eine Top-Leistung abzuliefern.
    </p>

    <h4>Unser Tipp</h4>
    <p>Schauen Sie sich Referenzen der jeweiligen Agentur an. Können diese in Punkto
        <a href="http://www.konfigurator-verzeichnis.de/content/usability" target="_blank">Usability</a> und
        <a href="http://www.konfigurator-verzeichnis.de/content/ux" target="_blank">UX</a>  überzeugen?
    </p>
    <h3>Wird Ihr Produktkonfigurator jemals fertiggestellt?</h3>
    <p>Immer wieder hören wir von Neukunden, dass Sie bereits fünf- bis sechsstellige Beträge mit anderen Agenturen
        verbrannt haben. Um so größer und komplexer Ihr Projekt wird, desto größer die Wahrscheinlichkeit, das es niemals
        wie erwartet fertiggestellt wird. Grund hierfür sind oft explodierende Kosten, fehlendes
        KnowHow sowie mangelnde Kommunikation und starre Techniken wie etwa das Wasserfallmodell.
    </p>
    <h4>Unser Tipp</h4>
    <p>Hat die Agentur bereits Projekte auf ähnlichem Komplexitätsniveau realisiert? Bestehen Sie auf die Agile
        Vorgehensweise.
    </p>

    <h3>Wichtige Punkte</h3>
    <p> Im folgenden finden Sie weitere wichtige Punkte, die Sie auf jeden Fall abklären sollten:
    </p>
    <ul>
        <li>Überlassung des Quellcodes</li>
        <li>Freihalten von (Lizenz-)Ansprüchen Dritter</li>
        <li>Qualität durch automatisierte Tests</li>
        <li>Erweiterbarkeit des Konfigurators</li>
        <li>Zeitplan</li>
        <li>Verwendete Technologien, Programmiersprachen und Frameworks</li>
        <li>Lauffähigkeit ohne Browser-Plugins wie etwa den
            <a href="http://www.konfigurator-verzeichnis.de/content/flash_player" target="_blank">Flash-Player</a></li>
        <li>Wo und Wie wird die umsetzende Agentur genannt</li>
    </ul>
    <p>Nur wenn Sie alle Punkte berücksichtigen, wird ihr Produktkonfigurator-Projekt erfolgreich sein.
    </p>

</div>


<!--//bereits in inquiry.-->
<!--<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>-->

<script>


    $(document).ready(function () {

//bereits in inquiry.
//        $('.firsthide').hide();
//
        $('.tipps_toggle_buttons button').click( function () {
            $('.tipps_toggle_buttons button').toggle();
        });

        $('.tipps_toggle_buttons button#show_tipps').click( function () {
            $('#tipps').slideDown();
        });

        $('.tipps_toggle_buttons button#hide_tipps').click( function () {
            $('#tipps').slideUp();
        });

    });


</script>
