---
title: Kontakt
navTitle: Kontakt
gmap: false
lang: de
sectionClass: light-typo padding-top-bottom black-bg
sorting: 99
id: contact
---

<p class="section-description">Natürlich können Sie auch direkt mit uns Kontakt aufnehmen. Wir freuen uns von Ihnen zu hören!</p>

<div class="row margin-bottom">

    <div class="col-sm-5 col-sm-offset-1 text-center contact-item">

        <a class="icon" href="tel:+4940226325111"><i class="fa fa-phone fa-fw"></i></a>
        <h2>Tel</h2>
        <p><a class="restrain" href="tel:+4940226325111" >+49 (0)40 226 325 - 111</a></p>

    </div>

    <div class="col-sm-5 text-center contact-item">

        <a class="icon" href="mailto:info@produktkonfigurator-beratung.de"><i class="fa fa-envelope fa-fw"></i></a>
        <h2>E-Mail</h2>
        <p><a class="restrain" href="mailto:info@produktkonfigurator-beratung.de" onclick="goog_report_conversion ('xxx')">info@produktkonfigurator-beratung.de</a></p>

    </div>

</div>
