---
datenschutz: true
lang: de
sectionClass: white-bg
sorting: 120
id: datenschutz
show-privacy-text: Datenschutz anzeigen
hide-privacy-text: Datenschutz verbergen
---

<h1 class="section-title ">Datenschutz</h1>

<div class="row margin-bottom">


    <p>kaliber5 nimmt die Vertraulichkeit von personenbezogenen Daten sehr ernst und verwendet daher zeitgemäße Techniken zur Sicherung aller Daten und zur Durchführung des Dialogs mit dem Anwender.
    </p>

    <h3>Verwendung personenbezogener Daten</h3>
    <p>Hiermit informiert kaliber5 über die Verarbeitung von personenbezogenen Daten bei der Nutzung der Internetseite und die zustehenden Rechte nach dem Datenschutzrecht.
    </p>

    <h3>Verantwortlich für die Datenverarbeitung </h3>
    <p>Für die Datenverarbeitung verantwortlich ist die<br />
        <b>kaliber5 GmbH</b><br />
        Sorthmannweg 20<br />
        22529 Hamburg<br />
        Deutschland<br />
        E-Mail: <a href="mailto:info@kaliber5.de">info@kaliber5.de</a>
    </p>

    <h3>Datenschutzbeauftragter</h3>
    <p>Den zuständigen Datenschutzbeauftragten der Firma kaliber5 erreichen Sie unter der folgenden Adresse:<br />
        <b>kaliber5 GmbH</b><br />
        -Datenschutz-<br />
        Sorthmannweg 20<br />
        22529 Hamburg<br />
        Deutschland<br />
        E-Mail: <a href="mailto:datenschutz@kaliber5.de">datenschutz@kaliber5.de</a>
    </p>

    <h3>Datenkategorien und Ursprung der Daten</h3>
    <p>Die Website der kaliber5 GmbH ist grundsätzlich auch anonym nutzbar. Personenbezogene Daten (wie z.B. IP-Adressen) von Nutzern der Website werden höchstens kurzfristig in temporären Log-Files gespeichert. Beim Besuch der Internetseite werden zur anonymen Analyse des Nutzungsverhaltens Daten (Datum, Uhrzeit, Verweilzeit, betrachtete Seiten, Navigation, verwendete Hard- und Software) von kaliber5 durch einen externen Dienstleisters anonymisiert erhoben. Die Anonymisierung erfolgt noch vor dem Abspeichern der Daten beim Dienstleister.  
    </p>

    <h3>Zwecke der Datenverarbeitung</h3>
    <p>Sollte der Anwender kaliber5 in bestimmten Fällen seine persönlichen Daten mitteilen, werden diese entsprechend den am Sitz der Gesellschaft geltenden datenschutzrechtlichen Bestimmungen vertraulich behandelt. Wenn er kaliber5 eine E-Mail sendet oder ein Onlineformular auf der  kaliber5 Website nutzt, dann werden die dort angegebenen persönlichen Daten (z. B. Namen oder  E-Mail-Adresse) ausschließlich für die Korrespondenz mit dem Anwender zur Übersendung der erbetenen Informationen oder für die bei dem einzelnen Formular ggf. genannten anderen Zwecke verwendet.   Falls personenbezogene Daten für einen hier nicht genannten Zweck verarbeiten werden, wird der Anwender zuvor darüber informiert.
    </p>

    <h3>Rechtsgrundlage der Verarbeitung von personenbezogenen Daten</h3>
    <p>Alle personenbezogenen Daten werden von kaliber5 unter Beachtung der Bestimmungen der Europäischen Datenschutz-Grundverordnung (DSGVO), des Bundesdatenschutzgesetzes (BDSG) und aller weiteren maßgeblichen Gesetze zur Verarbeitung personenbezogener Daten verarbeitet. Die jeweilige Rechtsgrundlage für die Verarbeitung von personenbezogenen Daten hängt jeweils von dem Zusammenhang und dem Zweck der Datenverarbeitung ab.   Rechtsgrundlage für die Verarbeitung personenbezogener Daten sind „berechtigte Interessen des Verantwortlichen zur Abwicklung der Kommunikation“ sowie weitere „Überwiegende berechtigte Interessen“.
    </p>

    <h3>Datenzugriff</h3>
    <p>Zugriff auf personenbezogene Daten erhalten innerhalb des Verantwortlichen nur Personen und Stellen, die für die betroffenen Daten und die für den jeweiligen Vorgang zuständig sind. Dazu sind klare Geschäftsverteilungen und Berechtigungskonzepte eingerichtet.
    </p>
    <p>Alle personenbezogenen Daten werden zu den oben genannten Zwecken auch an Dienstleister übermittelt. Diese Einbindung von Dienstleistern ist unter Anderem auch im Rahmen der Wartung und Verwaltung von IT-Systemen notwendig.
    </p>
    <p> Zudem können personenbezogene Daten an Aufsichtsbehörden oder andere Empfänger übermittelt werden, falls dies gesetzlich oder vertraglich erforderlich ist.  
    </p>

    <h3>Datenübermittlung in ein Drittland</h3>
    <p>Alle personenbezogene Daten werden nur innerhalb des Europäischen Wirtschaftsraums (EWR) verarbeitet.
    </p>

    <h3>Maßnahmen zur Datensicherheit</h3>
    <p> kaliber5 trifft nach dem Stand der Technik angemessene organisatorische und technische Vorkehrungen, um die Sicherheit der Daten gegen Zerstörung, vorsätzliche oder zufällige Manipulationen, Verlust und gegen den Zugriff von nicht autorisierten Personen zu schützen.
    </p>
    <p>Alle auf der Internetseite eingesetzten Dialogformularen setzen die SSL-(Secure-Socket-Layer)-Verschlüsselung ein. Diese SSL-Verbindung schützt alle personenbezogenen Daten bei der Übertragung vor unbefugten Dritten.
    </p>
    <p>Alle Anwender sind aufgefordert zur Datenübermittlung die Dialogformulare zu nutzen, da ungesicherte E-Mails mit unverschlüsselten Daten möglicherweise von Unbefugten zur Kenntnis genommen oder verändert werden können.
    </p>


    <h3>Datenschutzrechte der Betroffenen</h3>
    <p>Unter der oben aufgeführten Adresse kann jeder Betroffene die Auskunft, Berichtigung, Löschung und Herausgabe (in einem gängigen, strukturierten und maschinenlesbaren Format) der zu ihm gespeicherten personenbezogene Daten verlangen. Zudem kann er dort sein Recht auf Einschränkung der Verarbeitung der Daten einfordern.
    </p>

    <h3>Widerspruchsrecht</h3>
    <p>Falls kaliber5 die Daten der Anwender zur Wahrung berechtigter Interessen verarbeitet, können die Anwender der Verarbeitung aus Gründen, die sich aus deren besonderer Situation ergeben, widersprechen. kaliber5 verarbeitet dann diese personenbezogenen Daten nicht mehr, es sei denn, kaliber5 kann zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die die Interessen des Betroffenen, Rechte und Freiheiten überwiegen oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.   Falls kaliber5 die Daten eines Betroffnen aufgrund einer von ihm erteilten Einwilligung verarbeitet, kann diese Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen werden.  
    </p>

    <h3>Möglichkeiten zur Beschwerde</h3>
    <p> Betroffene haben die Möglichkeit, sich mit einer Beschwerde an den oben genannten Datenschutz-beauftragten oder an eine Datenschutzaufsichtsbehörde zu wenden. Die für kaliber5 zuständige Datenschutzaufsichtsbehörde ist:   
    </p>
    <p>Der Hamburgische Beauftragte für Datenschutz und Informationsfreiheit<br />
        Klosterwall 6 (Block C), 20095 Hamburg<br />
        Tel.: (040) 4 28 54 - 40 40<br />
        E-Fax: (040) 4 279 - 11811<br />
        E-Mail: <a href="mailto:mailbox@datenschutz.hamburg.de">mailbox@datenschutz.hamburg.de</a>
    </p>

    <h3>Dauer der Datenspeicherung</h3>
    <p>kaliber5 löscht alle personenbezogenen Daten, sobald diese für die oben genannten Zwecke nicht mehr erforderlich sind.
    </p>
    <p> Dazu werden insbesondere die rechtliche Nachweis- und Aufbewahrungspflichten, welche unter Anderem auch durch das Handelsgesetzbuch, Steuergesetze und der Abgabenordnung geregelt werden, berücksichtigt. Dadurch ergeben sich Speicherfristen von bis zu zehn Jahren. Sollten Ansprüche gegen kaliber5 geltend gemacht werden können (gesetzliche Verjährungsfrist von drei oder bis zu dreißig Jahren), können personenbezogene Daten auch für diese Zeit aufbewahrt werden.
    </p>


    <h3>Pflichten des Anwenders zur Bereitstellung von Daten</h3>
    <p>Kein Anwender wird im Rahmen der Nutzung der Website dazu verpflichtet, personenbezogene Daten bereitzustellen. Es bestehen allerdings Services (wie etwa „Anfrage zum Beratungsgespräch“) für die personenbezogene Daten benötigt werden. Ohne diese Daten kann die gewünschten Leistung nicht erbracht werden. Es werden immer nur die tatsächlich erforderlichen Daten erhoben.
    </p>

    <h3>Automatisierte Einzelfallentscheidungen oder Profiling</h3>
    <p>kaliber5 führt keine automatisierten Verarbeitungsprozesse zur Herbeiführung einer Entscheidung und kein Profiling durch. Sollte dies doch im Einzelfall durch kaliber5 geschehen, wird der Betroffene bei der jeweiligen Anwendung darüber informiert.
    </p>

    <h3>Änderung dieser Erklärung</h3>
    <p>Von Zeit zu Zeit führen Änderungen der Technik sowie Weiterentwicklungen der Website zu Anpassungen an dieser Datenschutzerklärung. Der Anwender wird daher dazu angehalten, bei jedem Besuch der kaliber5 Website jeweils die aktuelle Version dieser Datenschutzerklärung zu beachten.  
    </p>


    <h3>Einsatz von Cookies</h3>
    <p>Während der Nutzung der kaliber5 Website werden auf dem jeweiligen Rechner sogenannte Cookies gespeichert. Ein Cookie ist eine kleine Textdatei, mit dessen Hilfe sich unter Anderem auch die Darstellung und Bedienung der Website steuern lässt. Durch das Beenden des Dialogs wird der Cookie gelöscht. kaliber5 verwendet Cookies, um dem Anwender stets das bestmögliche Ergebnis zu bieten und um die fehlerfreie Verwendung der auf der Website bereitgestellten Funktionen zu gewährleisten. Statistische Auswertungen des Internetauftritts geschehen anonym, um unter Anderem auch die Nutzbarkeit der Website zu verbessern. Ein Personenbezug wird nicht hergestellt.Vereinzelt können zusätzlich zu den zweckgebundenen, zwingend benötigten Daten weitere Daten abgefragt werden, die kaliber5 helfen, den Anwender besser kennenlernen und beraten zu können oder um die Website zu verbessern sowie zu Werbezwecken.
    </p>
    <p>Die Cookies enthalten keine persönlichen Daten. Die Einstellungen für Cookies sind von Browser zu Browser unterschiedlich.
    </p>


    <h3>Verwendung von Google Analytics</h3>
    <p>Diese Webseite nutzt den Webanalysedienst Google Analytics der Google Inc. (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; „Google“).
        kaliber5 nutzt Google Analytics, um Daten zu statistischen Zwecken aus AdWords auszuwerten.
        Google Analytics verwendet Cookies, die eine Analyse der Benutzung dieser Webiste ermöglichen.

        In der Regel werden die durch den Cookie erzeugten Informationen über die Nutzung dieser Website werden an einen Server von Google in den USA übertragen und dort gespeichert.

        Falls der Anwender dieser Website dies nicht wünscht, kann er dies unter dem folgenden Link <a href="http://www.google.com/settings/ads" target="_blank">http://www.google.com/settings/ads</a> deaktivieren.

        kaliber5 hat die IP-Anonymisierung auf dieser Website aktiviert. So werden die IP-Adresse aller Besucher dieser Website von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt.
    </p>
    <p>
        In Ausnahmefällen kann auch die volle IP-Adresse an einen Server von Google in den USA übertragen und erst dort gekürzt werden.

        Google wird im Auftrag von kaliber5 diese Informationen nutzen, um die Nutzung der Website auszuwerten, Reports über die Websiteaktivitäten zu erstellen und um weitere mit der Website verbundene Dienstleistungen gegenüber kaliber5 zu erbringen.

        Eine Zusammenführung von den im Rahmen von Google Analytics verarbeiteten Daten und anderen Daten von Google geschieht nicht.

        Durch entsprechende Einstellung im Browser kann der Anwender die Speicherung der Cookies verhindern.

        Es wird jedoch explizit darauf hingewiesen, dass ggf. einige Funktionen dieser Website den Einsatz vonn Cookies voraussetzen.

        Unter dem folgenden Link kann sich der Anwender Plugins installieren, die die Erfassung der durch das Cookie erzeugten und auf ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse)
        an Google sowie die Verarbeitung dieser Daten durch Google verhindern: <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">http://tools.google.com/dlpage/gaoptout?hl=de</a>
    </p>


    <h3>Verwendung von Google AdWords Conversion-Tracking</h3>
    <p>kaliber5 ist Google AdWords-Kunde und nutzt das Google Conversion Tracking, einen Analysedienst der Google Inc. (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; „Google“). Dabei wird von Google AdWords ein Cookie („Conversion Cookie“) auf dem Rechner des Anwenders gesetzt, sofern der Anwender über eine Google-Anzeige auf die kaliber5 Webseite gelangt ist.
    </p>
    <p>Diese Cookies dienen nicht der persönlichen Identifizierung und verlieren nach 30 Tagen ihre Gültigkeit. Bei dem Besuch von bestimmten Seiten durch den Anwender während das Cookie noch nicht abgelaufen ist, können kaliber5 sowie Google erkennen, dass ein Anwender auf die Anzeige geklickt hat und so zur kaliber5 Webseite weitergeleitet wurde.
    </p>
    <p>Alle AdWords-Kunden erhalten andere Cookies. Somit können Cookies nicht über die Webseiten von AdWords-Kunden nachverfolgt werden. Durch die mit dem Conversion-Cookie eingeholten Informationen, können Conversion-Statistiken für AdWords-Kunden erstellen werden. Ein AdWords-Kunde erfährt wieviele Nutzer auf eine Anzeige geklickt und anschließend eine mit einem Conversion-Tracking-Tag versehene Aktion durchgeführt haben. Ein AdWords-Kunde erhält jedoch keine Informationen, mit denen sich ein Anwender persönlich identifizieren lässt.
    </p>
    <p>Jeder Anwender, der an keinem Tracking teilnehmen möchte, kann dieser Nutzung widersprechen. Dazu muss er die Installation der Cookies durch eine entsprechende Einstellung im Browser  verhindern bzw. deaktivieren. Somit wird er nicht mit in die Conversion-Tracking Statistiken aufgenommen.
    </p>
    <p>Die Datenschutzerklärung sowie weiterführende Informationen von Google finden sich unter: <a href="http://www.google.de/policies/privacy" target="_blank">http://www.google.de/policies/privacy/</a></p>



    <h3>Informationsverschlüsselung und -übertragung</h3>
    <p>Bei der Nutzung des Kontaktformulars sowie aller anderer Formulare wird für die Übertragung der Informationen die Verschlüsselungstechnik SSL (Secure Socket Layer) mit einer Schlüssellänge von mindestens 128 Bit genutzt.
    </p>


    <h3>Umgang mit E-Mails</h3>
    <p>kaliber5 nutzt die vom Anwender angegebene E-Mail-Adresse, um per E-Mail mit den gewünschten Information zu antworten. Sobald kaliber5 eine E-Mail verschickt, wird die Übertragung zunächst verschlüsselt (mit Hilfe der TLS-Verschlüsselung) versucht. Sollte der Empfänger keine Verschlüsselung unterstützen, wir die E-Mail unverschlüsselt verschickt. Dabei nutzt kaliber5 die gespeicherten E-Mail-Adressen ausschließlich zur Korrespondenz mit den jeweiligen Anwendern und gibt keine E-Mail-Adressen an Dritte weiter.
    </p>
    <p> kaliber5 bewahrt E-Mails auf, die sich auf ein Vertragsverhältnis beziehen und verschickt keine unaufgeforderten E-Mails. Alle unaufgefordert eine E-Mails, die vorgeben, von kaliber5 zu stammen, sind gefälscht und sollten gelöscht werden.
    </p>
    <p>Alle unverschlüsselt verschickten E-Mails sind im Internet nicht gegen unbefugte Kenntnisnahme, Verfälschung usw. geschützt. Daher wird die Verwendung des Kontaktformulars empfohlen.
    </p>


</div>



