---
imprint: true
lang: de
sectionClass: gray-bg
sorting: 110
id: imprint

show-imprint-text: Impressum anzeigen
hide-imprint-text: Impressum verbergen

---


<h1 class="section-title ">Impressum</h1>

<div class="row margin-bottom">

    <div class="col-sm-4">
        <h4>Verantwortlich für den Inhalt</h4>
        <p>Christian Olgem&ouml;ller<br/>
            Mühlenweg 37<br/>
            21614 Buxtehude <br/>
        </p>
    </div>

    <div class="col-sm-4">
        <h4>Copyright</h4>
        <p>Die Vervielfältigung von Informationen oder Daten, insbesondere die Verwendung von Texten, Textteilen Bild- und Videomaterial bedarf der vorherigen Zustimmung.</p>
    </div>

    <div class="col-sm-4">
        <h4>Haftungshinweis</h4>
        <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

    </div>

</div>
