---
title:
navTitle:  Produktkonfigurator Bedarfsermittlung
gmap: false
lang: de
sectionClass: gray-bg padding-top-bottom
sorting: 10
id: produktkonfigurator
---

<h1 class="section-title ">Produkt&shy;konfigurator Bedarfs&shy;ermittlung</h1>

<p class="section-description">Im folgenden haben wir die wichtigsten Fragen zum Thema Produktkonfigurator zusammengefasst. Anhand der
    Antworten zu diesen Fragen können wir ein Projekt bereits in kurzer Zeit sehr konkret bewerten. Füllen Sie daher bitte die folgenden
    Felder so vollständig  wie möglich aus. Um so mehr Informationen wir zu Ihrem Produktkonfigurator-Projekt erhalten, desto genauer kann
    unsere Analyse erfolgen.</p>
<p class="section-description">Natürlich können Sie auch gerne direkt mit uns <a class="scrollto" href="#contact">Kontakt</a> aufnehmen! Wir gehen dann mit Ihnen gemeinsam die Fragen durch.</p>
<div class="row">
    <p class="text-center form_toggle_buttons">
        <button class="btn btn-quattro" id="show_form" >
            <i class="fa fa-chevron-down"></i> Formular öffnen
        </button>

        <button class="btn btn-quattro firsthide" id="hide_form">
            <i class="fa fa-close"></i> Formular schließen
        </button>
    </p>

</div>


<div class="row">

    <!--=== Contact Form ===-->

    <form id="contact-form" class="col-sm-8 col-sm-offset-2 inquiry-form firsthide" action="/scripts/pkb.php" method="post" novalidate>

        <h3>Ihr Produkt (1/7)</h3>

        <div class="form-group">
            <label class="control-label" for="pk-beschreibung">Beschreiben Sie bitte kurz Ihr Produkt:</label>
            <div class="controls">
                <textarea id="pk-beschreibung" name="pkBeschreibung" class="form-control" type="text"></textarea>
            </div>
        </div>
        <!-- End beschreibung input -->


        <div class="form-group radio-row bool">
            <label class="control-label">Gibt es einen Link unter dem Ihr Produkt genauer erklärt wird?</label>
            <div class="controls">
                <input id="pk-produktlink-1" name="pkProduktlinkJN" class="form-control" type="radio" value="1">
                <label for="pk-produktlink-1" class="control-label">ja</label>
                <input id="pk-produktlink-0" name="pkProduktlinkJN" class="form-control" type="radio" value="0">
                <label for="pk-produktlink-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End produktlinkjn input -->

        <div class="form-group iide">
            <label class="control-label" for="pk-produktlink">Wie lautet die URL?</label>
            <div class="controls">
                <input id="pk-produktlink" name="pkProduktlink" placeholder="www.beispielseite.de"  class="form-control" type="text">
            </div>
        </div>
        <!-- End produktlink input -->




        <h3>Funktionalität (2/7)</h3>

        <div class="form-group">
            <label class="control-label" for="pk-options">Beschreiben Sie bitte kurz, was an Ihrem Produkt konfigurierbar sein soll:</label>
            <div class="controls">
                <textarea id="pk-options" name="pkOptions" class="form-control" type="text"></textarea>
            </div>
        </div>
        <!-- End options input -->

        <div class="form-group radio-row bool">
            <label class="control-label">Gibt es einen Link zu einem Produktkonfigurator, der in etwa Ihre Anforderungen widerspiegelt?</label>
            <div class="controls">
                <input id="pk-beispiel-1" name="pkBeispielJN" class="form-control" type="radio" value="1">
                <label for="pk-beispiel-1" class="control-label">ja</label>
                <input id="pk-beispiel-0" name="pkBeispielJN" class="form-control" type="radio" value="0">
                <label for="pk-beispiel-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End beispieljn input -->

        <div class="form-group">
            <label class="control-label" for="pk-beispiel">Wie lautet die URL?</label>
            <div class="controls">
                <input id="pk-beispiel" name="pkBeispiel" placeholder="www.beispielseite.de"  class="form-control" type="text">
            </div>
        </div>
        <!-- End beispiel input -->


        <div class="form-group">
            <label class="control-label" for="pk-eingabefelder">Wie viele verschiedene Eingabefelder/Parameter soll es ungefähr geben?</label>
            <div class="controls">
                <input id="pk-eingabefelder" name="pkEingabefelder"  class="form-control" type="text">
            </div>
        </div>
        <!-- End eingabefelder input -->

        <div class="form-group radio-row bool">
            <label class="control-label">Soll der Konfigurator auch offlinefähig sein?</label>
            <div class="controls">
                <input id="pk-offline-1" name="pkOffline" class="form-control" type="radio" value="1" >
                <label for="pk-offline-1" class="control-label">ja</label>
                <input id="pk-offline-" name="pkOffline" class="form-control" type="radio" value="" >
                <label for="pk-offline-" class="control-label">eventuell</label>
                <input id="pk-offline-0" name="pkOffline" class="form-control" type="radio" value="0" >
                <label for="pk-offline-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End drag input -->

        <div class="form-group radio-row bool">
            <label class="control-label">Soll es eine Drag & Drop Funktionalität geben?</label>
            <div class="controls">
                <input id="pk-drag-1" name="pkDrag" class="form-control" type="radio" value="1" >
                <label for="pk-drag-1" class="control-label">ja</label>
                <input id="pk-drag-" name="pkDrag" class="form-control" type="radio" value="" >
                <label for="pk-drag-" class="control-label">eventuell</label>
                <input id="pk-drag-0" name="pkDrag" class="form-control" type="radio" value="0" >
                <label for="pk-drag-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End drag input -->

        <div class="form-group radio-row firsthide">
            <label class="control-label">Wie berechnet sich der Preis?</label>
            <div class="controls">
                <input id="pk-preis-summe" name="pkPreis" class="form-control" type="radio" value="summe">
                <label for="pk-preis-summe" class="control-label">aus der Summe aller Komponenten</label>
                <br />
                <input id="pk-preis-lookup" name="pkPreis" class="form-control" type="radio" value="lookup">
                <label for="pk-preis-lookup" class="control-label">mittels Lookup in einer Tabelle</label>
                <br />
                <input id="pk-preis-anders" name="pkPreis" class="form-control" type="radio" value="anders">
                <label for="pk-preis-anders" class="control-label">anders (z.B. mithilfe von Funktionen oder externer Faktoren wie etwa aktueller Rohstoffpreise)</label>
            </div>
        </div>
        <!-- End preis input -->

        <div class="form-group radio-row bool">
            <label class="control-label">Sollen neben dem Preis auch andere Daten (wie etwa Gewicht) berechnet werden?</label>
            <div class="controls">
                <input id="pk-berechnungen-1" name="pkWeitereBerechnungenJN" class="form-control" type="radio" value="1">
                <label for="pk-berechnungen-1" class="control-label">ja</label>
                <input id="pk-berechnungen-" name="pkWeitereBerechnungenJN" class="form-control" type="radio" value="">
                <label for="pk-berechnungen-" class="control-label">eventuell</label>
                <input id="pk-berechnungen-0" name="pkWeitereBerechnungenJN" class="form-control" type="radio" value="0">
                <label for="pk-berechnungen-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End berechnungenjn input -->

        <div class="form-group firsthide">
            <label class="control-label" for="pk-berechnungen">Welche?</label>
            <div class="controls">
                <input id="pk-berechnungen" name="pkWeitereBerechnungen" class="form-control" type="text">
            </div>
        </div>
        <!-- End berechnungen input -->



        <div class="form-group radio-row bool">
            <label class="control-label">Soll es eine Dokumentengenerierung geben?</label>
            <div class="controls">
                <input id="pk-dokumente-1" name="pkDokumenteJN" class="form-control" type="radio" value="1">
                <label for="pk-dokumente-1" class="control-label">ja</label>
                <input id="pk-dokumente-" name="pkDokumenteJN" class="form-control" type="radio" value="">
                <label for="pk-dokumente-" class="control-label">eventuell</label>
                <input id="pk-dokumente-0" name="pkDokumenteJN" class="form-control" type="radio" value="0">
                <label for="pk-dokumente-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End dokumentejn input -->


        <div class="form-group radio-row firsthide">
            <label class="control-label">Welche Dokumente sollen automatisch erstellt werden?</label>
            <div class="controls">
                <input id="pk-dokumente-angebot" name="pkDokumente[]" class="form-control" type="checkbox" value="angebot">
                <label for="pk-dokumente-angebot" class="control-label">Angebot</label>
                <br />
                <input id="pk-dokumente-stueckliste" name="pkDokumente[]" class="form-control" type="checkbox" value="stueckliste">
                <label for="pk-dokumente-stueckliste" class="control-label">Stückliste</label>
                <br />
                <input id="pk-dokumente-arbeitsplan" name="pkDokumente[]" class="form-control" type="checkbox" value="arbeitsplan">
                <label for="pk-dokumente-arbeitsplan" class="control-label">Arbeitsplan</label>
                <br />
                <input id="pk-dokumente-skizze" name="pkDokumente[]" class="form-control" type="checkbox" value="skizze">
                <label for="pk-dokumente-skizze" class="control-label">Skizze</label>
                <br />
                <input id="pk-dokumente-weitere" name="pkDokumente[]" class="form-control" type="checkbox" value="weitere">
                <label for="pk-dokumente-weitere" class="control-label">weitere</label>
            </div>
        </div>
        <!-- End dokumente input -->

        <div class="form-group firsthide">
            <label class="control-label" for="pk-dokumente-weitere-namentlich">Welche?</label>
            <div class="controls">
                <input id="pk-dokumente-weitere-namentlich" name="pkDokumenteWeitere" class="form-control" type="text">
            </div>
        </div>
        <!-- End berechnungen input -->

        <div class="form-group radio-row bool">
            <label class="control-label">Sollen einige Funktionen nur eingeloggten Benutzergruppen zugänglich sein?</label>
            <div class="controls">
                <input id="pk-login-1" name="pkLoginJN" class="form-control" type="radio" value="1">
                <label for="pk-login-1" class="control-label">ja</label>
                <input id="pk-login-" name="pkLoginJN" class="form-control" type="radio" value="">
                <label for="pk-login-" class="control-label">eventuell</label>
                <input id="pk-login-0" name="pkLoginJN" class="form-control" type="radio" value="0">
                <label for="pk-login-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End berechnungenjn input -->

        <div class="form-group firsthide">
            <label class="control-label" for="pk-login">Welche?</label>
            <div class="controls">
                <input id="pk-login" name="pkLogin"   class="form-control" type="text">
            </div>
        </div>
        <!-- End login input -->



        <h3>Restriktionen (3/7)</h3>

        <div class="form-group radio-row">
            <label class="control-label">Welche Restriktionen gelten für Ihr Produkt?</label>
            <div class="controls">
                <input id="pk-restriktionen-nein" name="pkRestriktionen" class="form-control" type="radio" value="nein">
                <label for="pk-restriktionen-nein" class="control-label">Jede einstellbare Kombination ist erlaubt (Pick-to-order).</label>
                <br />
                <input id="pk-restriktionen-kreuztabelle" name="pkRestriktionen" class="form-control" type="radio" value="kreuztabelle">
                <label for="pk-restriktionen-kreuztabelle" class="control-label">Einige Optionen schließen andere Optionen aus. Diese Logik kann in einer Kreuztabelle dargestellt werden (Assemble-to-order).</label>
                <br />
                <input id="pk-restriktionen-formel" name="pkRestriktionen" class="form-control" type="radio" value="formel">
                <label for="pk-restriktionen-formel" class="control-label">Die Einschränkungen müssen anhand von Formeln berechnet werden (Engineer-to-order).</label>
            </div>
        </div>
        <!-- End restriktionen input -->



        <div class="form-group radio-row firsthide">
            <label class="control-label">Reicht es wenn diese Restriktionen einmalig programmiert werden oder müssen diese durch einen Mitarbeiter eigenständig pflegbar und erweiterbar sein?</label>
            <div class="controls">
                <input id="pk-restriktionen-edit-0" name="pkRestriktionenEdit" class="form-control" type="radio" value="0">
                <label for="pk-restriktionen-edit-0" class="control-label">einmalig fest programmiert</label>
                <br />
                <input id="pk-restriktionen-edit-1" name="pkRestriktionenEdit" class="form-control" type="radio" value="1">
                <label for="pk-restriktionen-edit-1" class="control-label">eigenständig pflegbar und erweiterbar</label>
            </div>
        </div>
        <!-- End restriktionen-edit input -->




        <h3>2D / 3D  Visualisierung (4/7)</h3>


        <div class="form-group radio-row bool">
            <label class="control-label">Soll das konfigurierte Produkt visuell dargestellt werden?</label>
            <div class="controls">
                <input id="pk-visualisierung-1" name="pkVisualisierungJN" class="form-control" type="radio" value="1">
                <label for="pk-visualisierung-1" class="control-label">ja</label>
                <input id="pk-visualisierung-0" name="pkVisualisierungJN" class="form-control" type="radio" value="0">
                <label for="pk-visualisierung-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End visualisierungjn input -->


        <div id="visualisierung_container" class="firsthide">

            <div class="form-group radio-row bool">
                <label class="control-label">Soll die Darstellung des Produktes fotorealistisch sein?</label>
                <div class="controls">
                    <input id="pk-foto-1" name="pkFoto" class="form-control" type="radio" value="1">
                    <label for="pk-foto-1" class="control-label">ja</label>
                    <input id="pk-foto-" name="pkFoto" class="form-control" type="radio" value="">
                    <label for="pk-foto-" class="control-label">eventuell</label>
                    <input id="pk-foto-0" name="pkFoto" class="form-control" type="radio" value="0">
                    <label for="pk-foto-0" class="control-label">nein</label>
                </div>
            </div>
            <!-- End foto input -->


            <div class="form-group radio-row">
                <label class="control-label">Aus welchen Perspektiven soll das Produkt sichtbar sein?</label>
                <div class="controls">
                    <input id="pk-perspektive-2d" name="pkPerspektiven" class="form-control" type="radio" value="2d">
                    <label for="pk-perspektive-2d" class="control-label">flache 2D Ansicht ohne Perspektive</label>
                    <br />
                    <input id="pk-perspektive-eine" name="pkPerspektiven" class="form-control" type="radio" value="eine">
                    <label for="pk-perspektive-eine" class="control-label">eine Perspektive</label>
                    <br />
                    <input id="pk-perspektive-multi" name="pkPerspektiven" class="form-control" type="radio" value="multi">
                    <label for="pk-perspektive-multi" class="control-label">mehrere Perspektiven</label>
                    <br />
                    <input id="pk-perspektive-frei" name="pkPerspektiven" class="form-control" type="radio" value="frei">
                    <label for="pk-perspektive-frei" class="control-label">Perspektive vom User frei veränderbar</label>
                </div>
            </div>
            <!-- End perspektive input -->

        </div>


        <h3>Kontext und Integration (5/7)</h3>
        <div class="form-group radio-row">
            <label class="control-label">Wer wird den Konfigurator nutzen?</label>
            <div class="controls">
                <input id="pk-nutzer-endkunde" name="pkNutzer[]" class="form-control" type="checkbox" value="endkunde">
                <label for="pk-nutzer-endkunde" class="control-label">Endkunde</label>
                <br />
                <input id="pk-nutzer-vertriebspartner" name="pkNutzer[]" class="form-control" type="checkbox" value="vertriebspartner">
                <label for="pk-nutzer-vertriebspartner" class="control-label">Vertriebspartner</label>
                <br />
                <input id="pk-nutzer-vertrieb" name="pkNutzer[]" class="form-control" type="checkbox" value="vertrieb">
                <label for="pk-nutzer-vertrieb" class="control-label">Mitarbeiter Vertrieb</label>
                <br />
                <input id="pk-nutzer-technik" name="pkNutzer[]" class="form-control" type="checkbox" value="technik">
                <label for="pk-nutzer-technik" class="control-label">Mitarbeiter Technik</label>
            </div>
        </div>
        <!-- End nutzer input -->



        <div class="form-group radio-row bool">
            <label class="control-label">Soll der Produktkonfigurator in mehreren Sprachen angeboten werden?</label>
            <div class="controls">
                <input id="pk-sprachen-1" name="pkSprachen" class="form-control" type="radio" value="1">
                <label for="pk-sprachen-1" class="control-label">ja</label>
                <input id="pk-sprachen-" name="pkSprachen" class="form-control" type="radio" value="">
                <label for="pk-sprachen-" class="control-label">eventuell</label>
                <input id="pk-sprachen-0" name="pkSprachen" class="form-control" type="radio" value="0">
                <label for="pk-sprachen-0" class="control-label">nein</label>

            </div>
        </div>
        <!-- End sprachen input -->




        <div class="form-group radio-row bool">
            <label class="control-label">Soll der Konfigurator in ein bestehendes System eingebunden werden (z.B. Website oder Shop)?</label>
            <div class="controls">
                <input id="pk-system-1" name="pkSystemEinbindungJN" class="form-control" type="radio" value="1">
                <label for="pk-system-1" class="control-label">ja</label>
                <input id="pk-system-" name="pkSystemEinbindungJN" class="form-control" type="radio" value="">
                <label for="pk-system-" class="control-label">eventuell</label>
                <input id="pk-system-0" name="pkSystemEinbindungJN" class="form-control" type="radio" value="0">
                <label for="pk-system-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End systemjn input -->


        <div class="form-group firsthide">
            <label class="control-label" for="pk-system">Wo?</label>
            <div class="controls">
                <input id="pk-system" name="pkSystemEinbindung" placeholder="z.B. 'Website', 'Shop' oder URL angeben"  class="form-control" type="text">
            </div>
        </div>
        <!-- End wo input -->



        <div class="form-group radio-row bool">
            <label class="control-label">Soll es eine mobiloptimierte Lösung für den Produktkonfigurator geben?</label>
            <div class="controls">
                <input id="pk-mobil-1" name="pkResponsive" class="form-control" type="radio" value="1">
                <label for="pk-mobil-1" class="control-label">ja</label>
                <input id="pk-mobil-" name="pkResponsive" class="form-control" type="radio" value="">
                <label for="pk-mobil-" class="control-label">eventuell</label>
                <input id="pk-mobil-0" name="pkResponsive" class="form-control" type="radio" value="0">
                <label for="pk-mobil-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End mobil input -->




        <div class="form-group radio-row bool">
            <label class="control-label">Sollen die eingegebenen Daten weiterverarbeitet werden können?</label>
            <div class="controls">
                <input id="pk-weiterverarbeitung-1" name="pkWeiterverarbeitungJN" class="form-control" type="radio" value="1">
                <label for="pk-weiterverarbeitung-1" class="control-label">ja</label>
                <input id="pk-weiterverarbeitung-" name="pkWeiterverarbeitungJN" class="form-control" type="radio" value="">
                <label for="pk-weiterverarbeitung-" class="control-label">eventuell</label>
                <input id="pk-weiterverarbeitung-0" name="pkWeiterverarbeitungJN" class="form-control" type="radio" value="0">
                <label for="pk-weiterverarbeitung-0" class="control-label">nein (nur visuelle Ausgabe)</label>
            </div>
        </div>
        <!-- End weiterverarbeitungjn input -->



        <div class="form-group radio-row firsthide">
            <label class="control-label">Wie?</label>
            <div class="controls">
                <input id="pk-weiterverarbeitung-druck" name="pkWeiterverarbeitung[]" class="form-control" type="checkbox" value="druck">
                <label for="pk-weiterverarbeitung-druck" class="control-label">Druckfunktion</label>
                <br />
                <input id="pk-weiterverarbeitung-dokument" name="pkWeiterverarbeitung[]" class="form-control" type="checkbox" value="dokument">
                <label for="pk-weiterverarbeitung-dokument" class="control-label">Erstellung von Dokumenten (z.B. Angebot, Stückliste oder Arbeitsplan) mit Download-Option</label>
                <br />
                <input id="pk-weiterverarbeitung-email" name="pkWeiterverarbeitung[]" class="form-control" type="checkbox" value="email">
                <label for="pk-weiterverarbeitung-email" class="control-label">Übermittlung per Email</label>
                <br />
                <input id="pk-weiterverarbeitung-link" name="pkWeiterverarbeitung[]" class="form-control" type="checkbox" value="link">
                <label for="pk-weiterverarbeitung-link" class="control-label">Generierung eines Links, der genau zu dieser Konfiguration führt</label>
                <br />
                <input id="pk-weiterverarbeitung-social-media" name="pkWeiterverarbeitung[]" class="form-control" type="checkbox" value="social-media">
                <label for="pk-weiterverarbeitung-social-media" class="control-label">Vorlage zum Posten in sozialen Netzwerken</label>
                <br />
                <input id="pk-weiterverarbeitung-warenkorb" name="pkWeiterverarbeitung[]" class="form-control" type="checkbox" value="warenkorb">
                <label for="pk-weiterverarbeitung-warenkorb" class="control-label">Übergabe an einen Warenkorb</label>
                <br />
                <input id="pk-weiterverarbeitung-db" name="pkWeiterverarbeitung[]" class="form-control" type="checkbox" value="db">
                <label for="pk-weiterverarbeitung-db" class="control-label">Speichern der Konfiguration in einer Datenbank</label>
                <br />
                <input id="pk-weiterverarbeitung-schnittstelle" name="pkWeiterverarbeitung[]" class="form-control" type="checkbox" value="schnittstelle">
                <label for="pk-weiterverarbeitung-schnittstelle" class="control-label">Export in eine Datenschnittstelle</label>
                <br />
                <input id="pk-weiterverarbeitung-cad" name="pkWeiterverarbeitung[]" class="form-control" type="checkbox" value="cad">
                <label for="pk-weiterverarbeitung-cad" class="control-label">Ausspielen der CAD-Daten</label>
                <br />
                <input id="pk-weiterverarbeitung-weitere" name="pkWeiterverarbeitung[]" class="form-control" type="checkbox" value="weitere">
                <label for="pk-weiterverarbeitung-weitere" class="control-label">weitere</label>
            </div>
        </div>
        <!-- End weiterverarbeitung input -->


        <div class="form-group firsthide">
            <label class="control-label" for="pk-weiterverarbeitung-weitere-namen">Welche weiteren Arten der Datenweiterverarbeitung benötigen Sie?</label>
            <div class="controls">
                <input id="pk-weiterverarbeitung-weitere-namen" name="pkWeiterverarbeitungWeitere" class="form-control" type="text">
            </div>
        </div>
        <!-- End berechnungen input -->


        <div class="form-group radio-row bool">
            <label class="control-label">Soll der Produktkonfigurator einen Auftragsprozess initiieren können?</label>
            <div class="controls">
                <input id="pk-auftrag-1" name="pkAuftrag" class="form-control" type="radio" value="1">
                <label for="pk-auftrag-1" class="control-label">ja</label>
                <input id="pk-auftrag-" name="pkAuftrag" class="form-control" type="radio" value="">
                <label for="pk-auftrag-" class="control-label">eventuell</label>
                <input id="pk-auftrag-0" name="pkAuftrag" class="form-control" type="radio" value="0">
                <label for="pk-auftrag-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End auftrag input -->


        <div class="form-group radio-row bool">
            <label class="control-label">Soll es ein Rabattsystem geben?</label>
            <div class="controls">
                <input id="pk-rabatt-1" name="pkRabatt" class="form-control" type="radio" value="1">
                <label for="pk-rabatt-1" class="control-label">ja</label>
                <input id="pk-rabatt-" name="pkRabatt" class="form-control" type="radio" value="">
                <label for="pk-rabatt-" class="control-label">eventuell</label>
                <input id="pk-rabatt-0" name="pkRabatt" class="form-control" type="radio" value="0">
                <label for="pk-rabatt-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End nutzer input -->


        <div class="form-group radio-row bool">
            <label class="control-label">Soll der Produktkonfigurator an externe Daten-Schnittstellen angeschlossen sein?</label>
            <div class="controls">
                <input id="pk-schnittstellen-1" name="pkSchnittstellenJN" class="form-control" type="radio" value="1">
                <label for="pk-schnittstellen-1" class="control-label">ja</label>
                <input id="pk-schnittstellen-" name="pkSchnittstellenJN" class="form-control" type="radio" value="">
                <label for="pk-schnittstellen-" class="control-label">eventuell</label>
                <input id="pk-schnittstellen-0" name="pkSchnittstellenJN" class="form-control" type="radio" value="0">
                <label for="pk-schnittstellen-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End schnittstellenjn input -->


        <div class="form-group radio-row">
            <label class="control-label">An welche?</label>
            <div class="controls">
                <input id="pk-schnittstelle-shop" name="pkSchnittstelle[]" class="form-control" type="checkbox" value="shop">
                <label for="pk-schnittstelle-shop" class="control-label">Shop-System</label>
                <br />
                <input id="pk-schnittstelle-crm" name="pkSchnittstelle[]" class="form-control" type="checkbox" value="crm">
                <label for="pk-schnittstelle-crm" class="control-label">CRM-System</label>
                <br />
                <input id="pk-schnittstelle-erp" name="pkSchnittstelle[]" class="form-control" type="checkbox" value="erp">
                <label for="pk-schnittstelle-erp" class="control-label">ERP-System</label>
                <br />
                <input id="pk-schnittstelle-sap" name="pkSchnittstelle[]" class="form-control" type="checkbox" value="sap">
                <label for="pk-schnittstelle-sap" class="control-label">SAP-System</label>
                <br />
                <input id="pk-schnittstelle-produktdatenbank" name="pkSchnittstelle[]" class="form-control" type="checkbox" value="produktdatenmanagement">
                <label for="pk-schnittstelle-produktdatenbank" class="control-label">Produktdatenmanagement (PDM)</label>
                <br />
                <input id="pk-schnittstelle-buchhaltung" name="pkSchnittstelle[]" class="form-control" type="checkbox" value="buchhaltung">
                <label for="pk-schnittstelle-buchhaltung" class="control-label">Buchhaltung</label>
                <br />
                <input id="pk-schnittstelle-warenwirtschaft" name="pkSchnittstelle[]" class="form-control" type="checkbox" value="warenwirtschaft">
                <label for="pk-schnittstelle-warenwirtschaft" class="control-label">Warenwirtschaft</label>
                <br />
                <input id="pk-schnittstelle-materialdaten" name="pkSchnittstelle[]" class="form-control" type="checkbox" value="materialdaten">
                <label for="pk-schnittstelle-materialdaten" class="control-label">Materialdaten (z.b. Rohstoffpreise)</label>
                <br />
                <input id="pk-schnittstelle-weitere" name="pkSchnittstelle[]" class="form-control" type="checkbox" value="weitere">
                <label for="pk-schnittstelle-weitere" class="control-label">weitere</label>
            </div>
        </div>
        <!-- End schnittstelle input -->


        <div class="form-group firsthide">
            <label class="control-label" for="pk-schnittstelle-weitere-namen">Welche weiteren Schnittstellen benötigen Sie?</label>
            <div class="controls">
                <input id="pk-schnittstelle-weitere-namen" name="pkSchnittstelleWeitere" class="form-control" type="text">
            </div>
        </div>
        <!-- End berechnungen input -->

        <div class="form-group radio-row bool">
            <label class="control-label">Soll es ein eigenes Administrations-Backend geben, in dem Ihre Mitarbeiter Anfragen und ähnliche Daten verwalten können?</label>
            <div class="controls">
                <input id="pk-backend-1" name="pkAdminBackend" class="form-control" type="radio" value="1">
                <label for="pk-backend-1" class="control-label">ja</label>
                <input id="pk-backend-" name="pkAdminBackend" class="form-control" type="radio" value="">
                <label for="pk-backend-" class="control-label">eventuell</label>
                <input id="pk-backend-0" name="pkAdminBackend" class="form-control" type="radio" value="0">
                <label for="pk-backend-0" class="control-label">nein</label>
            </div>
        </div>
        <!-- End backend input -->




        <h3>Budget (6/7)</h3>

        <div class="form-group radio-row ">
            <label class="control-label">Wie aufwändig soll ihr Produktkonfigurator werden?</label>
            <div class="controls">
                <input id="pk-budget-xs" name="pkBudget" class="form-control" type="radio" value="minimal">
                <label for="pk-budget-xs" class="control-label">Minimalanforderungen – knappes Budget</label>
                <br />
                <input id="pk-budget-m" name="pkBudget" class="form-control" type="radio" value="durchschnitt">
                <label for="pk-budget-m" class="control-label">Branchendurchschnitt</label>
                <br />
                <input id="pk-budget-xl" name="pkBudget" class="form-control" type="radio" value="branchenprimus">
                <label for="pk-budget-xl" class="control-label">Branchenprimus – setzt neue Maßstäbe</label>
            </div>
        </div>
        <!-- End budget input -->






        <h3>Ihre Kontaktdaten (7/7)</h3>

        <div class="form-group">
            <label class="control-label" for="pk-name">Name</label>
            <div class="controls">
                <input id="pk-name" name="pkName" class="form-control requiredField" type="text" data-error-empty="Bitte geben Sie Ihren Namen ein">
            </div>
        </div>
        <!-- End name input -->

        <div class="form-group">
            <label class="control-label" for="pk-phone">Telefon</label>
            <div class=" controls">
                <input id="pk-phone" name="pkPhone" class="form-control requiredField" type="text" data-error-empty="Bitte geben Sie Ihre Telefonnummer ein">
            </div>
        </div>
        <!-- End email input -->


        <div class="form-group">
            <label class="control-label" for="pk-mail">Email</label>
            <div class=" controls">
                <input id="pk-mail" name="pkEmail" class="form-control requiredField" type="email" data-error-empty="Bitte geben Sie Ihre E-Mail Adresse ein" data-error-invalid="Ungültige E-Mail Adresse">
            </div>
        </div>
        <!-- End email input -->

        <div class="form-group">
            <label class="control-label" for="pk-comment">Kommentar</label>
            <div class="controls">
                <textarea id="pk-comment" name="comments" class="form-control"></textarea>
            </div>
        </div>
        <!-- End comment textarea -->

        <p class="text-center">
            <button name="submit" type="submit" class="btn btn-quattro" data-error-message="Fehler!" data-sending-message="Sende..." data-ok-message="Nachricht gesendet" >
                <i class="fa fa-paper-plane"></i> kostenlos anfordern
            </button>
        </p>
        <input type="hidden" name="submitted" id="submitted" value="true" />

    </form><!-- End contact-form -->

</div>

<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

<script>


    function check_visibilities() {



        if ($('#pk-produktlink-1').is(':checked')) {

            $('#pk-produktlink').closest('.form-group ').slideDown();
        } else {
            $('#pk-produktlink').closest('.form-group ').slideUp();
        }


        if ($('#pk-beispiel-1').is(':checked')) {

            $('#pk-beispiel').closest('.form-group ').slideDown();
        } else {
            $('#pk-beispiel').closest('.form-group ').slideUp();
        }

        if ($('#pk-berechnungen-1').is(':checked')) {
            $('#pk-berechnungen').closest('.form-group ').slideDown();
        } else {
            $('#pk-berechnungen').closest('.form-group ').slideUp();
        }

        if ($('#pk-dokumente-1').is(':checked')) {
            $('#pk-dokumente-angebot').closest('.form-group ').slideDown();
        } else {
            $('#pk-dokumente-angebot').closest('.form-group ').slideUp();
        }

        if ($('#pk-dokumente-weitere').is(':checked')) {
            $('#pk-dokumente-weitere-namentlich').closest('.form-group ').slideDown();
        } else {
            $('#pk-dokumente-weitere-namentlich').closest('.form-group ').slideUp();
        }

        if ($('#pk-login-1').is(':checked')) {
            $('#pk-login').closest('.form-group ').slideDown();
        } else {
            $('#pk-login').closest('.form-group ').slideUp();
        }


        if ($('#pk-visualisierung-1').is(':checked')) {

            $('#visualisierung_container').slideDown();
        } else {
            $('#visualisierung_container').slideUp();
        }


        if ($('#pk-system-1').is(':checked')) {
            $('#pk-system').closest('.form-group ').slideDown();
        } else {
            $('#pk-system').closest('.form-group ').slideUp();
        }


        if (  ($('#pk-restriktionen-kreuztabelle').is(':checked'))  ||  ($('#pk-restriktionen-formel').is(':checked'))  ) {
            $('#pk-restriktionen-edit-0').closest('.form-group ').slideDown();
        } else {
            $('#pk-restriktionen-edit-0').closest('.form-group ').slideUp();
        }


        if ($('#pk-weiterverarbeitung-1').is(':checked')) {
            $('#pk-weiterverarbeitung-druck').closest('.form-group ').slideDown();
        } else {
            $('#pk-weiterverarbeitung-druck').closest('.form-group ').slideUp();
        }


        if ($('#pk-weiterverarbeitung-weitere').is(':checked')) {
            $('#pk-weiterverarbeitung-weitere-namen').closest('.form-group ').slideDown();
        } else {
            $('#pk-weiterverarbeitung-weitere-namen').closest('.form-group ').slideUp();
        }


        if ($('#pk-schnittstellen-1').is(':checked')) {
            $('#pk-schnittstelle-crm').closest('.form-group ').slideDown();
        } else {
            $('#pk-schnittstelle-crm').closest('.form-group ').slideUp();
        }




        if ($('#pk-schnittstelle-weitere').is(':checked')) {
            $('#pk-schnittstelle-weitere-namen').closest('.form-group ').slideDown();
        } else {
            $('#pk-schnittstelle-weitere-namen').closest('.form-group ').slideUp();
        }


    }


    $(document).ready(function () {


        $('.firsthide').hide();

        $('.form_toggle_buttons button').click( function () {
            $('.form_toggle_buttons button').toggle();
        });

        $('.form_toggle_buttons button#show_form').click( function () {
            $('#contact-form').slideDown();
        });

        $('.form_toggle_buttons button#hide_form').click( function () {
            $('#contact-form').slideUp();
        });

        $('input').click( function () {
            check_visibilities();
        });

        check_visibilities();

    });


    </script>
