---
title:  Herausgeber
navTitle: Herausgeber
lang: de
sectionClass: gray-bg padding-top-bottom
sorting: 95
id: herausgeber
---

<p class="section-description">Produktkonfigurator-Beratung.de ist ein Analyse- und Beratungs-Tool der <a href="http://www.kaliber5.de" target="_blank">kaliber5
    GmbH</a>, die speziell auf die
    Beratung, Konzeption und Entwicklung von <a href="https://www.kaliber5.de/de/produktkonfigurator/" target="_blank">Produktkonfigurator Software</a> ausgerichtet ist.
</p>

<img class="img-responsive img-center scrollimation fade-up" src="https://www.kaliber5.de/assets/images/produktkonfigurator.jpg" alt="Produktkonfigurator" />