---
lang: de
sectionClass: primary-bg cta
sorting: 100
---



<div class="row">
    <div class="col-md-9 cta-message">
        <p> Wenn Sie mehr über kaliber5, unsere Projekte oder unsere Werte und Ziele erfahren möchten, dann klicken Sie hier.</p>
    </div>
    <div class="col-md-3 cta-button">
        <p class="text-center"><a class="btn btn-quattro transparent" href="http://www.kaliber5.de" target="_blank"><i class="fa fa-angle-right"></i> Mehr erfahren</a></p>
    </div>
</div>        
        

